<div class="row">
    <% if (locals.flash.info) { %>
    <div class="notification notification-success">
        <%=locals.flash.info%>
    </div>
    <% } %>
    <div class="col-6">
        <h1 class="heading-xlarge">Tokens</h1>

    </div>
</div>

<%
const paginationModel = {
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.userDevices ? locals.userDevices.length: undefined,
    data: [
        { key: 'criteria', value: locals.criteria },
        { key: 'sort', value: locals.sortBy },
        { key: 'sortDir', value: locals.sortOrder },
    ],
};
%>

<div class="row row-spacer">
    <div class="col-6">
        <form method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <div class="search-field form-group <%= (locals.validationMessages.criteria !== undefined) ? 'form-group-error' : '' %>">
                <% if (locals.validationMessages.criteria !== undefined) { %>
                    <p class="error-message" id="validation-service"><%=locals.validationMessages.criteria %></p>
                <% } %>
                <fieldset class="search-input">
                    <label for="criteria" class="vh">Search by assignee, serial number or organisation</label>
                    <input type="text" id="criteria" name="criteria" value="<%= criteria %>" class="form-control" placeholder="Search by assignee, serial number or organisation">
                </fieldset>
                <fieldset class="search-submit">
                    <button type="submit" class="button">Search</button>
                </fieldset>
            </div>
        </form>
    </div>
    <div class="col-6">

    </div>
</div>

<% if (locals.userDevices) { %>

<%- include('../../sharedViews/pagination', paginationModel); %>
<div class="row">
    <div class="col-12">
        <table class="data">
            <thead>
                <tr class="sortable">
                    <th scope="col" class="cwp-20">
                        <a href="?criteria=<%=criteria%>&page=<%=page%>&sort=serialnumber&sortdir=<%=sort.serialNumber.nextDirection%>"
                           class="<% if (sort.serialNumber.applied) { %>sorted dir-<%= (sort.serialNumber.nextDirection === 'desc') ? 'd' : 'a' %><% } %>"
                        >Serial Number</a></th>
                    <th scope="col" class="cwp-10">
                        <a href="?criteria=<%=criteria%>&page=<%=page%>&sort=status&sortdir=<%=sort.status.nextDirection%>"
                                                      class="<% if (sort.status.applied) { %>sorted dir-<%= (sort.status.nextDirection === 'desc') ? 'd' : 'a' %><% } %>"
                        >Status</a></th>
                    <th scope="col" class="cwp-20">
                        <a href="?criteria=<%=criteria%>&page=<%=page%>&sort=name&sortdir=<%=sort.name.nextDirection%>"
                           class="<% if (sort.name.applied) { %>sorted dir-<%= (sort.name.nextDirection === 'desc') ? 'd' : 'a' %><% } %>"
                        >Assignee</a></th>
                    <th scope="col" class="cwp-35">
                        <a href="?criteria=<%=criteria%>&page=<%=page%>&sort=organisation&sortdir=<%=sort.organisation.nextDirection%>"
                           class="<% if (sort.organisation.applied) { %>sorted dir-<%= (sort.organisation.nextDirection === 'desc') ? 'd' : 'a' %><% } %>"
                        >Organisation</a></th>
                    <th scope="col" class="cwp-15">
                        <a href="?criteria=<%=criteria%>&page=<%=page%>&sort=lastlogin&sortdir=<%=sort.lastLogin.nextDirection%>"
                           class="<% if (sort.lastLogin.applied) { %>sorted dir-<%= (sort.lastLogin.nextDirection === 'desc') ? 'd' : 'a' %><% } %>"
                        >Last login</a>
                        </th>
                </tr>
            </thead>
            <tbody>
            <% if(locals.userDevices.length === 0 && locals.criteria) { %>
                <tr>
                    <td colspan="5"><span class="empty-state">No tokens found</span></td>
                </tr>
            <% } %>
            <% for (let i = 0; i < locals.userDevices.length; i++) { %>
                <tr>
                    <td><a href="/userDevices/<%=userDevices[i].device.serialNumber%>%>"><%= userDevices[i].device.serialNumberFormatted %></a></td>
                    <td><%= userDevices[i].device.status %></td>
                    <td><%= userDevices[i].name %></td>
                    <td>
                    <% if(userDevices[i].organisation) { %>
                        <%= userDevices[i].organisation.name %>
                    <% }else { %>
                        Unknown
                    <% } %>
                    </td>
                    <td>
                    <% if(locals.userDevices[i].lastLogin) { %>
                        <%= locals.moment(locals.userDevices[i].lastLogin).fromNow() %>
                    <% } else { %>
                        Never
                    <% } %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%- include('../../sharedViews/pagination', paginationModel); %>

<% } %>
