<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Enter the token lock code
        </h1>
        <p class="lede">Select the code shown on the token.</p>
    </div>
</div>

<div class="grid-row">
    <div class="col-6">
        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <div class="form-group <%= (locals.validationMessages.unlockCode !== undefined) ? 'form-group-error' : '' %>">
                <fieldset>
                    <legend>
                        <span class="form-label-bold" id="unlockCode">Token code</span>
                        <% if (locals.validationMessages.unlockCode !== undefined) { %>
                        <span class="error-message" id="validation-tokenCode"><%=locals.validationMessages.unlockCode%></span>
                        <% } %>
                    </legend>
                    <div class="multiple-choice">
                        <input id="code-1" type="radio" name="tokenCode" value="unlock1">
                        <label for="code-1">Code 1</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="code-2" type="radio" name="tokenCode" value="unlock2">
                        <label for="code-2">Code 2</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="disabled" type="radio" name="tokenCode" value="disabled">
                        <label for="disabled">Disabled (token will need to deactivated)</label>
                    </div>
                </fieldset>
            </div>
            <input type="hidden" value="<%=locals.serialNumber%>" name="serialNumber" id="serialNumber" />
            <div class="form-group submit-buttons">
                <button type="submit" class="button">Continue</button>
            </div>
        </form>
        <p>NOTE: If the message on the token is 'Fail' the user needs to enter a pin until a token lock code is shown.</p>
    </div>
    <div class="col-6">
        <img src="<%= locals.urls.assets %>/images/token-code.svg" class="responsive spacing" alt="Token">
    </div>
</div>
