<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Token <%=locals.serialNumberFormatted%>
            <% if(locals.name) { %>
                <small><a href="/users/<%=locals.uid%>"><%=locals.name%></a>, <%=locals.orgName%></small>
            <% }%>
        </h1>
        <% if (locals.flash.info) { %>
        <div class="notification notification-success">
            <%=locals.flash.info%>
        </div>
        <% } %>
        <dl class="inline condensed">
            <dt class="label">Last login:</dt>
            <dd><%=locals.lastLogin ? locals.moment(locals.lastLogin).format('DD/MMM/YYYY HH:mm:ss') : 'Never'%></dd>
            <dt class="label">Token status:</dt>
            <dd><%=locals.tokenStatus%></dd>
            <dt class="label">Sessions in the last 12 months:</dt>
            <dd><%=locals.numberOfSuccessfulLoginAttemptsInTwelveMonths%></dd>
        </dl>
    </div>
    <div class="col-4">
        <% if (locals.tokenStatus.toLowerCase() !== 'deactivated') { %>
            <aside>
                <h2 class="heading-medium">Actions</h2>
                <ul class="list">
                        <li><a href="/userDevices/<%=locals.serialNumber%>/deactivate">Deactivate token</a></li>
                    <% if (locals.name) { %>
                        <li><a href="/userDevices/<%=locals.serialNumber%>/resync">Resync token</a></li>
                        <li><a href="/userDevices/<%=locals.serialNumber%>/unlock">Unlock token</a></li>
                    <% }%>
                </ul>
            </aside>
        <% }%>
    </div>
</div>

<%
const pages = locals.numberOfPages, page = locals.page
const auditsOnPage = locals.audit.length, auditsAll = locals.totalNumberOfResults
let lowerEndAudits = page === pages ? auditsAll - auditsOnPage + 1 : auditsOnPage * (page-1) + 1
const upperEndAudits = lowerEndAudits + auditsOnPage - 1

if (locals.totalNumberOfResults === 0) {
    lowerEndAudits = 0;
}
%>
<%
const paginationModel = {
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.audit.length,
    data: [],
};
%>

<%- include('../../sharedViews/pagination', paginationModel); %>
<div class="row">
    <div class="col-12">
        <table class="data">
            <thead>
                <tr class="sortable">
                    <th scope="col" class="cwp-25">Date</th>
                    <th scope="col" class="cwp-35">Event</th>
                    <th scope="col" class="cwp-20">Result</th>
                    <th scope="col" class="cwp-20">User</th>
                </tr>
            </thead>
            <tbody>
            <% if(locals.audit.length === 0) { %>
                <tr>
                    <td colspan="5"><span class="empty-state">No audit events found</span></td>
                </tr>
            <% } %>
            <% for (let i = 0; i < locals.audit.length; i++) { %>
                <tr>
                    <td><%= locals.moment(audit[i].date).format('DD/MMM/YYYY HH:mm:ss') %></td>
                    <td><%= audit[i].event %></td>
                    <td><%= audit[i].success %></td>
                    <td><%= audit[i].name %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%- include('../../sharedViews/pagination', paginationModel); %>