<% if (locals.flash.info) { %>
    <div class="row">
        <div class="col-12">
            <div class="notification notification-success">
                <%= locals.flash.info %>
            </div>
        </div>
    </div>
<% } %>
<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge heading-breakable">
            <span class="heading-secondary"><%= organisation.category.name %></span>
            <%= organisation.name %>
        </h1>
        <dl class="inline condensed">
            <% if (organisation.LegalName) { %>
                <dt class="label">Legal name:</dt>
                <dd><%= organisation.LegalName %></dd>
            <% } %>
            
            <% if (organisation.type || organisation.providerTypeName) { %>
                <dt class="govuk-label">Type:</dt>
                <dd class="govuk-label"><%=(organisation.type ? organisation.type.name : organisation.providerTypeName)%></dd>
                <% } else if (organisation.category) { %>
                <dt class="govuk-label">Category:</dt>
                <dd class="govuk-label"><%=organisation.category.name%></dd>
            <% } %>

            <dt class="label">Address: </dt>
            <dd><%= organisation.address || 'Not Recorded' %></dd>

            <% if (organisation.urn) { %>
                <dt class="label">URN:</dt>
                <dd><%= organisation.urn %></dd>
            <% } %>

            <% if (organisation.uid) { %>
                <dt class="label">UID:</dt>
                <dd><%= organisation.uid %></dd>
            <% } %>

            <% if (organisation.ukprn) { %>
                <dt class="label">UKPRN:</dt>
                <dd><%= organisation.ukprn %></dd>
            <% } %>

            <% if (organisation.upin) { %>
                <dt class="label">UPIN:</dt>
                <dd><%= organisation.upin %></dd>
            <% } %>

            <% if (organisation.establishmentNumber) { %>
                <dt class="label">Establishment number: </dt>
                <dd><%= organisation.establishmentNumber %></dd>
            <% } %>

            <% if (organisation.localAuthority) { %>
                <dt class="label">Local authority: </dt>
                <dd>
                    <% if (organisation.localAuthority.name && organisation.localAuthority.code && organisation.localAuthority.id) { %>
                        <a href="/organisations/<%= organisation.localAuthority.id %>/users"><%= organisation.localAuthority.name %></a> (<%= organisation.localAuthority.code %>)
                    <% } else { %>
                        Unknown
                    <% } %>
                </dd>
            <% } %>

            <dt class="label">Legacy ID: </dt>
            <dd><%= organisation.legacyId %></dd>

            <dt class="label">Status: </dt>
            <dd><%= organisation.status.name || 'Unknown' %></dd>
            <% if (organisation.companyRegistrationNumber) { %>
                <dt class="label">Company Number: </dt>
                <dd><%= organisation.companyRegistrationNumber %></dd>
            <% } %>
        </dl>
    </div>
    <div class="col-4">
        <aside>
            <h2 class="heading-medium">Actions</h2>
            <ul class="list">
                <li><a href="web-service-sync">Send WS Sync</a></li>
            </ul>
        </aside>
    </div>
</div>

<nav>
    <ul class="tabs" role="tablist">

        <% if(locals.area === 'users') { %>
            <li class="active">Users</li>
        <% } else { %>
            <li><a href="users" role="tab">Users</a></li>
        <% } %>

    </ul>
</nav>
