<div class="govuk-width-container">
  <div class="col-8">
    <h1 class="govuk-heading-xl">
        Create new organisation
    </h1>
      <form method="post">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <div class="govuk-form-group">
          <label class="govuk-label" for="name">
            Name
          </label>
          <% if (locals.validationMessages.name !== undefined) { %>
          <p id="name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span><%= locals.validationMessages.name %>
          </p>
          <% } %>
          <input class="govuk-input" id="name" name="name" type="text" spellcheck="false">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address">
            Address
          </label>
          <% if (locals.validationMessages.address !== undefined) { %>
            <p id="address-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span><%= locals.validationMessages.address %>
            </p>
            <% } %>
          <input class="govuk-input" id="address" name="address" type="text" spellcheck="false">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="ukprn">
            UKPRN
          </label>
          <% if (locals.validationMessages.ukprn !== undefined) { %>
            <p id="ukprn-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span><%= locals.validationMessages.ukprn %>
            </p>
            <% } %>
          <input class="govuk-input" id="ukprn" name="ukprn" type="text" spellcheck="false">
        </div>

        <div class="govuk-form-group <%= (locals.validationMessages.category !== undefined) ? 'govuk-form-group--error' : '' %>">
          <label class="govuk-label" for="category">
            Category
          </label>
          <% if (locals.validationMessages.category !== undefined) { %>
          <p id="category-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= locals.validationMessages.category %>
          </p>
          <% } %>
          <select class="govuk-select <%= (locals.validationMessages.category !== undefined) ? 'govuk-select--error' : '' %>" id="category" name="category" aria-describedby="category-error">
            <option value="" selected>Select a category</option>
            <option value="008">008 (Other stakeholders)</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="upin">
            UPIN
          </label>
          <% if (locals.validationMessages.upin !== undefined) { %>
            <p id="upin-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span><%= locals.validationMessages.upin %>
            </p>
            <% } %>
          <input class="govuk-input" id="upin" name="upin" type="text" spellcheck="false">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="urn">
            URN
          </label>
          <% if (locals.validationMessages.urn !== undefined) { %>
            <p id="urn-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span><%= locals.validationMessages.urn %>
            </p>
            <% } %>
          <input class="govuk-input" id="urn" name="urn" type="text" spellcheck="false">
        </div>
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Submit
          </button>
        </div>
    </form>
</div>



