<div class="govuk-width-container">

<a href="/organisations/<%= organisation.id %>/users" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Edit Organisation
        </h1>
        <dl class="govuk-summary-list">
            <% if (organisation.LegalName) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Legal name:</dt>
                    <dd class="govuk-summary-list__value"><%= organisation.LegalName %></dd>
                </div>
            <% } %>
            <% if (organisation.name) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Name:</dt>
                    <dd class="govuk-summary-list__value"><%= organisation.name %></dd>
                </div>
            <% } %>
            
            <% if (organisation.type || organisation.providerTypeName) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Type:</dt>
                    <dd class="govuk-summary-list__value"><%=(organisation.type ? organisation.type.name : organisation.providerTypeName)%></dd>
                </div>
            <% } else if (organisation.category) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Category:</dt>
                    <dd class="govuk-summary-list__value"><%=organisation.category.name%></dd>
                </div>
            <% } %>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address: </dt>
                <dd class="govuk-summary-list__value"><%= organisation.address || 'Not Recorded' %></dd>
            </div>

            <% if (organisation.urn) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">URN:</dt>
                    <% if (organisation.status.id === 4) { %>
                        <dd class="govuk-summary-list__value"><%=organisation.urn%></dd>
                    <%}else {%>
                        <dd class="govuk-summary-list__value"><a class="govuk-link" href="https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/<%=organisation.urn%>" target="_blank"><%=organisation.urn%></a></dd>
                    <% } %>
                </div>
            <% } %>

            <% if (organisation.uid) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">UID:</dt>
                    <% if (organisation.status.id === 2) { %>
                        <dd class="govuk-summary-list__value"><%=organisation.uid%></dd>
                    <%}else {%>
                        <dd class="govuk-summary-list__value"><a class="govuk-link" href="https://get-information-schools.service.gov.uk/Groups/Group/Details/<%=organisation.uid%>" target="_blank"><%=organisation.uid%></a></dd>
                    <% } %>
                </div>
            <% } %>

            <% if (organisation.ukprn) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">UKPRN:</dt>
                    <dd class="govuk-summary-list__value"><%= organisation.ukprn %></dd>
                </div>
            <% } %>

            <% if (organisation.upin) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">UPIN:</dt>
                    <dd class="govuk-summary-list__value"><%= organisation.upin %></dd>
                </div>
            <% } %>

            <% if (organisation.establishmentNumber) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Establishment number: </dt>
                    <dd class="govuk-summary-list__value"><%= organisation.establishmentNumber %></dd>
                </div>
            <% } %>

            <% if (organisation.localAuthority) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Local authority: </dt>
                    <dd class="govuk-summary-list__value">
                        <% if (organisation.localAuthority.name && organisation.localAuthority.code && organisation.localAuthority.id) { %>
                            <a class="govuk-link" href="/organisations/<%= organisation.localAuthority.id %>/users"><%= organisation.localAuthority.name %></a> (<%= organisation.localAuthority.code %>)
                        <% } else { %>
                            Unknown
                        <% } %>
                    </dd>
                </div>
            <% } %>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Legacy ID: </dt>
                <dd class="govuk-summary-list__value"><%= organisation.legacyId %></dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Status: </dt>
                <dd class="govuk-summary-list__value"><%= organisation.status.name || 'Unknown' %></dd>
            </div>

            <% if (organisation.companyRegistrationNumber) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Company Number: </dt>
                    <dd class="govuk-summary-list__value"><%= organisation.companyRegistrationNumber %></dd>
                </div>
            <% } %>
        </dl>
    </div> 
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form method="post" id="form-edit-org">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
          <fieldset class="govuk-fieldset">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="name">Name</span> </label>
                  <input class="govuk-input" id="name" name="name" type="text">
              </div>
              <div class="govuk-form-group">
                  <label class="govuk-label" for="address">Address</span> </label>
                  <input class="govuk-input" id="address" name="address" type="text">
              </div>
              
          </fieldset>

          <div class="govuk-button-group">
              <button type="submit" class="govuk-button">Continue</button>
          </div>

      </form>
  </div>
</div>

</div>
