<a href="/organisations" class="link-back">Back</a>
<div class="row">
    <div class="col-12">
        <h1 class="heading-large">Run Provider Profile Sync</h1>
    </div>
    <div class="col-12">
        <p>The following table tells you if the sync has run successfully or failed on each step.</p>
    </div>
</div>
<%
const paginationModel = {
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.audits.length,
    data: [],
};
%>

<%- include('../../sharedViews/pagination', paginationModel); %>
<div class="row">
    <div class="col-12">
        <table class="data">
            <thead>
                <tr>
                    <th scope="col" class="cwp-20">Start date</th>
                    <th scope="col" class="cwp-30">End date</th>
                   <!-- <th scope="col" class="cwp-15">Status</th> -->
                    <th scope="col" class="cwp-15">Step1</th>
                    <th scope="col" class="cwp-10">Step2</th>
                    <th scope="col" class="cwp-10">Step3</th>
                </tr>
            </thead>
            <tbody>
            <% for(let a = 0;a < locals.audits.length; a++) { %>
            <% const audit = locals.audits[a]; %>
                <tr>
                    <%if (audit.formattedStartDate){%>
                    <td><%= audit.formattedStartDate %></td>
                        <%}else{%>
                            <td></td>
                        <%}%>
                    <%if (audit.formattedEndDate){%>
                    <td><%= audit.formattedEndDate %></td>
                        <%}else{%>
                            <td></td>
                        <%}%>
                    <td class="breakable"><%= audit.statusStep1 === 2? 'SUCCESS' : (audit.statusStep1 === 3?'FAILURE' : '') %></td>
                    <td class="breakable"><%= audit.statusStep2 === 2? 'SUCCESS' : (audit.statusStep2 === 3?'FAILURE' : '') %></td>
                    <td class="breakable"><%= audit.statusStep3 === 2? 'SUCCESS' : (audit.statusStep3 === 3?'FAILURE' : '') %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <%- include('../../sharedViews/pagination', paginationModel); %>
        <div class="row">
            <div class="col-12">
                <h2 class="heading-medium">Provider Profile Email</h2>
            </div>
            <div class="col-12">
                <form method="post" id="form-pp-sync">

                    <div class="form-group <%= (locals.validationMessages.emailStatus !== undefined) ? 'form-group-error' : '' %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                        <p>Tick this box to confirm you have received the Provider Profile email.</p>
                        <% if (locals.validationMessages.emailStatus !== undefined) { %>
                            <p class="error-message" id="validation-firstName"><%= locals.validationMessages.emailStatus %></p>
                        <% } %>
                        <div class="multiple-choice">
                         <input type="checkbox" id="emailStatus" name="emailStatus" value="checked"> <label> Email received </label>
                        </div>
                    </div>

                  <div class="form-submit submit-buttons">
                    <%if(locals.syncInP){%>
                        <button type="submit" disabled class="button">Submit</button>
                     <%}else{%>
                    <button type="submit" class="button">Submit</button>
                        <%}%>
                    <a href="<%= locals.cancelLink %>" class="button button-secondary">Cancel</a>
                </div>
                </form>
            </div>


        </div>
    </div>


