<div class="row">
    <div class="col-6">
        <h1 class="heading-xlarge">Organisations</h1>
    </div>
</div>

<%
const paginationModel = {
    method: 'post',
    csrfToken,
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.organisations ? locals.organisations.length: undefined,
    data: [
        { key: 'criteria', value: locals.criteria },
        { key: 'sort', value: locals.sortBy },
        { key: 'sortDir', value: locals.sortOrder },
        { key: 'showFilters', value: locals.showFilters },
        { key: 'organisationType', value: locals.organisationTypes.reduce((result, element) => {
                if(element.isSelected) {
                    result.push(element.id);
                }
                return result;
            }, [])},
        { key: 'organisationStatus', value: locals.organisationStatuses.reduce((result, element) => {
                if(element.isSelected) {
                    result.push(element.id);
                }
                return result;
            }, [])},
    ]
}
const organisationTypesQuery = locals.organisationTypes.filter(x => x.isSelected)
                                .map(x => `organisationType=${x.id}`)
                                .join('&') || 'organisationType=';
const organisationStatusesQuery = locals.organisationStatuses.filter(x => x.isSelected)
                                .map(x => `organisationStatus=${x.id}`)
                                .join('&') || 'organisationStatus=';
%>

<div class="row row-spacer">
    <div class="col-6">
        <form method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <input type="hidden" name="showFilters" value="<%= showFilters %>"/>

            <% for (let i = 0; i < organisationTypes.length; i += 1) { %>
            <% if (organisationTypes[i].isSelected) { %>
            <input name="organisationType" value="<%= organisationTypes[i].id %>" type="hidden">
            <% } %>
            <% } %>

            <% for (let i = 0; i < organisationStatuses.length; i += 1) { %>
            <% if (organisationStatuses[i].isSelected) { %>
            <input name="organisationStatus" value="<%= organisationStatuses[i].id %>" type="hidden">
            <% } %>
            <% } %>

            <div class="search-field form-group <%= (locals.validationMessages.criteria !== undefined) ? 'form-group-error' : '' %>">
                <% if (locals.validationMessages.criteria !== undefined) { %>
                    <p class="error-message" id="validation-service"><%=locals.validationMessages.criteria %></p>
                <% } %>
                <fieldset class="search-input">
                    <label for="criteria" class="vh">Search by name, legal name, URN, UID, UPIN or UKPRN</label>
                    <input type="text" id="criteria" name="criteria" value="<%= criteria %>" class="form-control"
                           placeholder="Search by name, legal name, URN, UID, UPIN or UKPRN">
                </fieldset>
                <fieldset class="search-submit">
                    <button type="submit" class="button">Search</button>
                </fieldset>
            </div>
        </form>
        <form method="post" class="show-filters">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <input type="hidden" name="criteria" value="<%= criteria %>"/>
            <input type="hidden" name="page" value="<%= page %>"/>
            <input type="hidden" name="showFilters" value="<%= !showFilters %>"/>
            <input type="hidden" name="isFilterToggle" value="true"/>
            <button type="submit" class="button-link filter-link"><%= (showFilters ? 'Hide' : 'Show') %> filters</button>
        </form>
    </div>

    <div class="col-6">
        <div class="buttons pull-right">
        </div>
    </div>
</div>

<div class="row">
    <% if (showFilters) { %>
        <div class="col-4">
            <form method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="criteria" value="<%= criteria %>"/>
                <input type="hidden" name="page" value="<%= page %>"/>
                <input type="hidden" name="showFilters" value="true"/>

                <div class="filter-box">
                    <div class="container-head js-container-head">
                        <div class="option-select-label">
                            Organisation type
                        </div>
                    </div>
                    <div role="group" aria-labelledby="option-select-title-organisationtype" class="options-container"
                         id="organisationtypes">
                        <div class="js-auto-height-inner">
                            <% for (let i = 0; i < organisationTypes.length; i += 1) { %>
                                <label>
                                    <input name="organisationType" value="<%= organisationTypes[i].id %>"
                                           type="checkbox" <%= (organisationTypes[i].isSelected ? 'checked="checked"' : '') %>>
                                    <%= organisationTypes[i].name %>
                                </label>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="filter-box">
                    <div class="container-head js-container-head">
                        <div class="option-select-label">
                            Organisation Status
                        </div>
                    </div>
                    <div role="group" aria-labelledby="option-select-title-organisationstatus" class="options-container"
                         id="organisationStatuses">
                        <div class="js-auto-height-inner">
                            <% for (let i = 0; i < organisationStatuses.length; i += 1) { %>
                                <label>
                                    <input name="organisationStatus" value="<%= organisationStatuses[i].id %>"
                                           type="checkbox" <%= (organisationStatuses[i].isSelected ? 'checked="checked"' : '') %>>
                                    <%= organisationStatuses[i].name %>
                                </label>
                            <% } %>
                        </div>
                    </div>
                </div>
                <button class="button-secondary">Apply filter</button>
            </form>
        </div>
    <% } %>
    <% if (locals.organisations) { %>
        <div class="col-<%= (showFilters ? 8 : 12) %>">
                <%- include('../../sharedViews/pagination', paginationModel); %>
                <table class="data">
                    <thead>
                    <tr class="sortable">
                        <th scope="col" class="cwp-35">Name</th>
                        <th scope="col" class="cwp-35">Legal name</th>
                        <th scope="col" class="cwp-20">Type</th>
                        <th scope="col" class="cwp-10">URN</th>
                        <th scope="col" class="cwp-10">UID</th>
                        <th scope="col" class="cwp-10">UPIN</th>
                        <th scope="col" class="cwp-10">UKPRN</th>
                        <th scope="col" class="cwp-10">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(locals.organisations.length === 0 && locals.criteria) { %>
                        <tr>
                            <td colspan="6"><span class="empty-state">No organisations found</span></td>
                        </tr>
                    <% } %>
                    <% for (let i = 0; i < locals.organisations.length; i++) { %>
                        <tr>
                            <td class="breakable"><a href="/organisations/<%= organisations[i].id %>/users?criteria=<%= locals.criteria %>&page=<%= locals.page %>&showFilters=<%= locals.showFilters %>&<%= organisationTypesQuery %>&<%= organisationStatusesQuery %>"><%= organisations[i].name %></a></td>
                            <td><%= organisations[i].LegalName %></td>
                            <td><%= organisations[i].type ? organisations[i].type.name : organisations[i].providerTypeName || organisations[i].category.name  %></td>
                            <td><%= organisations[i].urn %></td>
                            <td><%= organisations[i].uid %></td>
                            <td><%= organisations[i].upin %></td>
                            <td><%= organisations[i].ukprn %></td>
                            <td><%= organisations[i].status ? organisations[i].status.name : '' %></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
                <%- include('../../sharedViews/pagination', paginationModel); %>

        </div>
    <% } %>
</div>
