<a href="/organisations" class="link-back">Back</a>
<%- include('_organisationSummary', {area: 'users', organisation: locals.organisation}); %>

<%
const paginationModel = {
    method: 'post',
    csrfToken,
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.users.length,
}
%>

<div class="row">
    <div class="col-12">
        <%- include('../../sharedViews/pagination', paginationModel); %>
        <table class="data">
            <thead>
            <tr>
                <th scope="col" class="cwp-15">Name</th>
                <th scope="col" class="cwp-35">Email</th>
                <th scope="col" class="cwp-20">Permission level</th>
                <th scope="col" class="cwp-15">Last Login</th>
                <th scope="col" class="cwp-15">Status</th>
            </tr>
            </thead>
            <tbody>
            <%users.forEach((user) => {%>
                <tr>
                    <td class="breakable"><a href="/users/<%=user.id%>"><%=user.name%></a></td>
                    <td class="breakable"><%=user.email%></td>
                    <td class="breakable"><%=user.organisation.role.description%></td>
                    <td class="breakable">
                        <% if (user.lastLogin) {%>
                            <%=locals.moment(user.lastLogin).fromNow()%>
                        <% } else {%>
                            Never
                        <% } %>
                    </td>
                    <td class="breakable"><%=user.status.description%></td>
                </tr>
            <%})%>
            </tbody>
        </table>
        <%- include('../../sharedViews/pagination', paginationModel); %>
    </div>
</div>