<%
const paginationModel = {
    disableNextAndPrevious: true,
    method: 'post',
    csrfToken,
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.numberOfResults,
    numberOfResultsOnPage: locals.results ? locals.results.length : 0,
    data: [
        { key: 'criteria', value: locals.criteria },
    ]
}
%>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h1 class="govuk-heading-xl">
                    Add organisation
                </h1>
                <p class="govuk-body">Search for the organisation the new user should be associated with  </p>
            </div>
        </div>
        <form class="govuk-form-group" method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <input type="hidden" name="page" value="1" />
            <fieldset class="govuk-fieldset">
                <label for="criteria" class="vh">Search by organisation name or unique identifier</label>
                <input type="text" id="criteria" name="criteria" class="govuk-input govuk-!-width-one-half" value="<%=criteria%>">
                <button type="submit" class="govuk-button">Search</button>
            </fieldset>
        </form>
        <%if(results && results.length > 0) {%>
        <%if (numberOfPages > 1) {%>
            <%- include('../../sharedViews/paginationNew', paginationModel); %>
        <%}%>
        <div class="govuk-grid-row">
            <div class="col-12">
                <ol class="search-results">
                    <%for (let i = 0; i < results.length; i += 1) {%>
                    <%const org = results[i];%>
                    <li>
                        <article>
                            <h2 class="govuk-heading-m">
                                <form method="post">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                                    <input type="hidden" name="selectedOrganisation" value="<%=org.id%>" />
                                    <button class="button-link"><%=org.name%></button>
                                </form>
                            </h2>
                            <dl class="inline">
                                <% if (org.LegalName) { %>
                                    <dt class="govuk-label">Legal name:</dt>
                                    <dd class="govuk-label"><%= org.LegalName %></dd>
                                <% } %>

                                <% if (org.type || org.providerTypeName) { %>
                                    <dt class="govuk-label">Type:</dt>
                                    <dd class="govuk-label"><%=(org.type ? org.type.name : org.providerTypeName)%></dd>
                                    <% } else if (org.category) { %>
                                    <dt class="govuk-label">Category:</dt>
                                    <dd class="govuk-label"><%=org.category.name%></dd>
                                <% } %>

                                <dt class="govuk-label">Address</dt>
                                <dd class="govuk-label"><%=org.address%></dd>

                                <%if(org.urn) {%>
                                    <dt class="govuk-label">URN</dt>
                                    <dd class="govuk-label"><%=org.urn%></dd>
                                    <%} else if(org.uid) {%>
                                    <dt class="govuk-label">UID</dt>
                                    <dd class="govuk-label"><%=org.uid%></dd>
                                <%}%>

                                <% if (org.ukprn) { %>
                                    <dt class="govuk-label">UKPRN</dt>
                                    <dd class="govuk-label"><%=org.ukprn%></dd>
                                <% } %>

                                <% if (org.upin) { %>
                                    <dt class="govuk-label">UPIN</dt>
                                    <dd class="govuk-label"><%=org.upin%></dd>
                                <% } %>

                                <% if (org.legacyId) { %>
                                    <dt class="govuk-label">Legacy ID</dt>
                                    <dd class="govuk-label"><%=org.legacyId%></dd>
                                <% } %>

                                <% if (org.status && org.status.name) { %>
                                    <dt class="govuk-label">Status</dt>
                                    <dd class="govuk-label"><%=org.status.name%></dd>
                                <% } %>
                            </dl>
                        </article>
                    </li>
                    <%}%>
                </ol>
            </div>
        </div>
        <%if (numberOfPages > 1) {%>
            <%- include('../../sharedViews/paginationNew', paginationModel); %>
        <%}%>
        <%} else if (results && results.length === 0) {%>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="empty-state">
                    <p class="govuk-body">No organisations found matching search criteria</p>
                </div>
            </div>
        </div>
        <%} else if (canSkip) {%>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body">You can <a class="govuk-link" href="confirm-new-user">skip this step</a> if you do not want to associate the user with an organisation at this time.</p>
            </div>
        </div>
        <%}%>
    </main>
</div>            

    

        


