<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                Select services
            </h1>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        User
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= locals.name%>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Organisation
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%=locals.organisationDetails.organisation.name%>
                    </dd>
                </div>
            </dl>
            <% if (locals.services.length > 0) { %>
            <form method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <div class="govuk-form-group  <%= (locals.validationMessages.services !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <fieldset class="govuk-fieldset" aria-describedby="validation-selected-organisation">
                        <% if (locals.validationMessages.services !== undefined) { %>
                        <p class="govuk-error-message" id="validation-selected-organisation"><%=locals.validationMessages.services%></p>
                        <% } %>
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Select all required services
                        </legend>

                        <% for (let i = 0; i < locals.services.length; i++) { %>
                            <% const service = locals.services[i]; %>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="<%=service.id%>" type="checkbox" name="service" value="<%=service.id%>"
                                            <% if (locals.selectedServices && locals.selectedServices.length > 0) {
                                            for(let i = 0; i < locals.selectedServices.length; i++) {
                                                const selectedService = locals.selectedServices[i].serviceId;
                                            %>
                                            <%= service.id === selectedService ? 'checked': ''%><% } }%>>
                                    <label class="govuk-label govuk-checkboxes__label" for="<%=service.id%>"><%=service.name%></label>
                                </div>
                            </div>
                        <% } %>

                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                    <a href= "./../" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>
                </div>
            </form>
            <% } else { %>
                <p class="govuk-body"> No services available </p>
            <% } %>
        </div>
    </div>
</div>


