<%- include('summaryPartial', {area: 'audit', user: locals.user}); %>

<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Service</th>
        <th>Result</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    <% for(let a = 0;a < locals.audits.length; a++) { %>
    <% const audit = locals.audits[a]; %>
    <tr>
        <td><%= locals.moment(audit.timestamp).format('DD/MMM/YYYY HH:mm:ss') %></td>
        <td><%= audit.event.description %></td>
        <td><%= audit.service ? audit.service.name : '' %></td>
        <td><%= audit.result ? 'Success' : 'Failure' %></td>
        <td><%= audit.user ? audit.user.name : '' %></td>
    </tr>
    <% } %>
    </tbody>
</table>