<%- include('summaryPartial', {area: 'audit', user: locals.user}); %>

<div class="row meta">
    <div class="col-12">
        <form method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <% if (!locals.updateInProgress) {%>
                <button class="button" style="margin-bottom: 1.25em;" type="submit" onclick="this.form.submit(); this.disabled=true; this.innerText='Processing Update';">Update and refresh</button>
            <%} else {%>
                <button class="button" style="margin-bottom: 1.25em;" disabled>Processing Update</button>
            <% } %>
        </form>
    </div>
</div>

<%
const paginationModel = {
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.audits.length,
    data: [],
};
%>

<%- include('../../sharedViews/pagination', paginationModel); %>

<style>
	.text-smaller-right-padding{
		padding: 0 5px 0 0;
		font-size: smaller;
	}
	.text-smaller{
		font-size: smaller;
	}
</style>

<div class="col-12 text-break"> 
	<div class="row data">
		<div class="col-2 text-smaller-right-padding">Date</div>
		<div class="col-3 text-smaller-right-padding">Event</div>
		<div class="col-1 text-smaller-right-padding">Service</div>
		<div class="col-2 text-smaller-right-padding">Organisation</div>
		<div class="col-1 text-smaller-right-padding">Result</div>
		<div class="col-3 text-smaller-right-padding">User</div>
	</div>
        
    <hr />
		
	<% for(let a = 0;a < locals.audits.length; a++) { %>
	<% const audit = locals.audits[a]; %>
		<div class="row data">
			<div class="col-2 text-smaller-right-padding"><%= locals.moment(audit.timestamp).format('DD/MMM/YYYY HH:mm:ss') %></div>
			<div class="col-3 text-smaller-right-padding"><%= audit.event.description %>&nbsp;</div>
			<div class="col-1 text-smaller-right-padding"><%= audit.service ? audit.service.name : '' %>&nbsp;</div>
			<div class="col-2 text-smaller-right-padding"><%= audit.organisation ? audit.organisation.name: '' %>&nbsp;</div>
			<div class="col-1 text-smaller-right-padding"><%= audit.result ? 'Success' : 'Failure' %></div>
			<div class="col-3 text-smaller-right-padding"><%= audit.user ? audit.user.name : '' %>&nbsp;</div>
		</div>
		<hr />
	<% } %>
</div>

<%- include('../../sharedViews/pagination', paginationModel); %>