<%- include('summaryPartial', {area: 'audit', user: locals.user}); %>
<%
const pages = locals.numberOfPages, page = locals.page
const usersOnPage = locals.audits.length, usersAll = locals.totalNumberOfResults
const lowerEndUsers = usersAll == 0 ? 0 : (page === pages ? usersAll - usersOnPage + 1 : usersOnPage * ( page - 1) + 1)
const upperEndUsers = lowerEndUsers == 0 ? 0 : lowerEndUsers + usersOnPage - 1
%>
<div class="row meta">
    <div class="col-6">
        <p>Showing <%= lowerEndUsers %> - <%= upperEndUsers %> of <b><%=locals.totalNumberOfResults%></b> audits for user</p>
    </div>
    <div class="col-6">
        <% if (locals.numberOfPages > 1) { %>
        <div class="pagination" data-current="<%=locals.page%>" data-total="<%=locals.numberOfPages%>"></div>
        <% } %>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="data">
            <thead>
                <tr>
                    <th scope="col" class="cwp-20">Date</th>
                    <th scope="col" class="cwp-30">Event</th>
                    <th scope="col" class="cwp-15">Service</th>
                    <th scope="col" class="cwp-15">Result</th>
                    <th scope="col" class="cwp-20">User</th>
                </tr>
            </thead>
            <tbody>
            <% for(let a = 0;a < locals.audits.length; a++) { %>
            <% const audit = locals.audits[a]; %>
                <tr>
                    <td><%= locals.moment(audit.timestamp).format('DD/MMM/YYYY HH:mm:ss') %></td>
                    <td><%= audit.event.description %></td>
                    <td><%= audit.service ? audit.service.name : '' %></td>
                    <td><%= audit.result ? 'Success' : 'Failure' %></td>
                    <td><%= audit.user ? audit.user.name : '' %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>

<div class="row meta">
    <div class="col-6">
        <p>Showing <%= lowerEndUsers %> - <%= upperEndUsers %> of <b><%=locals.totalNumberOfResults%></b> audits for user</p>
    </div>
    <div class="col-6">
        <% if (locals.numberOfPages > 1) { %>
        <div class="pagination" data-current="<%=locals.page%>" data-total="<%=locals.numberOfPages%>"></div>
        <% } %>
    </div>
</div>