<%- include('summaryPartial', {area: 'audit', user: locals.user}); %>


<%
const paginationModel = {
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.audits.length,
    data: [],
};
%>

<%- include('../../sharedViews/pagination', paginationModel); %>
<div class="row">
    <div class="col-12">
        <table class="data">
            <thead>
                <tr>
                    <th scope="col" class="cwp-20">Date</th>
                    <th scope="col" class="cwp-30">Event</th>
                    <th scope="col" class="cwp-15">Service</th>
                    <th scope="col" class="cwp-15">Organisation</th>
                    <th scope="col" class="cwp-15">Result</th>
                    <th scope="col" class="cwp-20">User</th>
                </tr>
            </thead>
            <tbody>
            <% for(let a = 0;a < locals.audits.length; a++) { %>
            <% const audit = locals.audits[a]; %>
                <tr>
                    <td><%= locals.moment(audit.timestamp).format('DD/MMM/YYYY HH:mm:ss') %></td>
                    <td><%= audit.event.description %></td>
                    <td><%= audit.service ? audit.service.name : '' %></td>
                    <td></td>
                    <td><%= audit.result ? 'Success' : 'Failure' %></td>
                    <td><%= audit.user ? audit.user.name : '' %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%- include('../../sharedViews/pagination', paginationModel); %>
