<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="post">
                <h1 class="govuk-heading-xl">
                    Review invite details
                </h1>
                <p class="govuk-body">Please review these details before sending an invite. The user will need to confirm their email address and create a password before their DfE Sign-in account becomes active.</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters"> 
                        <h2 class="govuk-heading-m">Personal details</h2>
                    </div>
                </div>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">First name</dt>
                        <dd class="govuk-summary-list__value"><%=user.firstName%></dd>
                        <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="new-user?review=true"> Change <span class="govuk-visually-hidden">Personal details</span></a>
                            </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Last name</dt>
                        <dd class="govuk-summary-list__value"><%=user.lastName%></dd>
                        <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="new-user?review=true"> Change <span class="govuk-visually-hidden">Personal details</span></a>
                            </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Email address</dt>
                        <dd class="govuk-summary-list__value"><%=user.email%></dd>
                        <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="new-user?review=true"> Change <span class="govuk-visually-hidden">Personal details</span></a>
                            </dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m">Organisation</h2>

                <% if (organisation) { %>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Organisation</dt>
                            <dd class="govuk-summary-list__value"><%=organisation.name%></dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="associate-organisation"> Change <span class="govuk-visually-hidden">organisation</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Permission level</dt>
                            <dd class="govuk-summary-list__value">
                                <%= role.name %>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="organisation-permissions"> Change <span class="govuk-visually-hidden">organisation permissions</span></a>
                            </dd>
                        </div>
                    </dl>
                <% } else { %>
                    <p class="govuk-body"><em>No organisation added</em></p>
                <% } %>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Content of the email invitation to <%=user.firstName%> <%=user.lastName%></h2>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-s">
                                Your response
                            </h2>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input id="content-default" class="govuk-radios__input" type="radio" name="email-contents-choice" value="Approve" checked>
                                <label class="govuk-label govuk-radios__label" for="content-default">Default</label>
                            </div>
                            <div class="govuk-radios__item" data-target="custom-email-contents">
                                <input id="content-custom" class="govuk-radios__input" type="radio" name="email-contents-choice" value="Reject">
                                <label class="govuk-label govuk-radios__label" for="content-custom">Custom</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-radios__conditional js-hidden" id="custom-email-contents">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="email-subject">Email subject line</label>
                        <% if (locals.entra && locals.entra.useEntraForAccountRegistration === true) { %>
                            <input class="govuk-input govuk-input--width-10" name="email-subject" id="email-subject" value="You’ve been invited to join DfE Sign-in">
                        <% } else { %>
                            <input class="govuk-input govuk-input--width-10" name="email-subject" id="email-subject" value="((VERIFICATION CODE)) is your DfE Sign-in verification code">
                        <% } %>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="email-contents">Email contents</label>
                        <div class="govuk-body">
                            <p>Dear <%=user.firstName%> <%=user.lastName%></p>

                            <% if (locals.entra && locals.entra.useEntraForAccountRegistration === true) { %>
                                <textarea class="govuk-textarea" rows="8" name="email-contents" id="email-contents">Your email address <%=locals.user.email%> can now be used to create a DfE Sign-in account.</textarea>
                                <p class="govuk-body">Visit the registration page to create your account.</p>
                            <% } else { %>
                                <textarea class="govuk-textarea" rows="8" name="email-contents" id="email-contents"></textarea>

                                <% if (organisation) { %>
                                    <p class="govuk-body">You have been invited to set up a DfE Sign-in account for ((ORGANISATION)).</p>
                                <% } else { %>
                                    <p class="govuk-body">You have been invited to set up a DfE Sign-in account.</p>
                                <% } %>
                                <% if (role.name !== '' && role.name === "Approver") { %>
                                    <p class="govuk-body">You will have an approver account. Approvers can manage other users at their organisation and add services to their account.</p>
                                <% } %>

                                <p class="govuk-body">To create a DfE Sign-in account, please verify your email and set a password by selecting the link below.</p>

                                <div class="govuk-inset-text">
                                    <p class="govuk-body">Your verification code:</p>
                                    <p class="govuk-body govuk-!-font-weight-bold">VERIFICATION CODE</p>
                                    <p class="govuk-body">The verification code will expire after 24 hours.</p>
                                    <p class="govuk-body"><a class="govuk-link" href="#">[Verify email and set password]</a></p>
                                </div>
                            <% } %>

                            <div class="govuk-inset-text">
                                <p class="govuk-body">Kind regards, <br>The Department for Education Sign-in Team<br><b>Need support?</b> <a class="govuk-link" href="<%=locals.urls.help%>">Contact us for further help?</a></p>
                                <p class="govuk-body">This is an automatically generated email; do not reply.<br>Received this email in error? No action is necessary.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <h2 class="govuk-heading-m">Destination for user</h2>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-s">
                                Your response
                            </h2>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input id="redirect-default" class="govuk-radios__input" type="radio" name="redirect-choice" value="Approve" checked>
                                <label class="govuk-label govuk-radios__label" for="redirect-default">Default</label>
                            </div>
                            <div class="govuk-radios__item" data-target="custom-redirect">
                                <input id="redirect-custom" class="govuk-radios__input" type="radio" name="redirect-choice" value="Reject">
                                <label class="govuk-label govuk-radios__label" for="redirect-custom">Custom</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-radios__conditional js-hidden" id="custom-redirect">
                    <div class="govuk-form-group">
                        <label for="user-destination">
                            <span class="govuk-label govuk-label--bold">Destination for user</span>
                            <span class="govuk-hint">Decide where the user will be redirected after completing their registration</span>
                        </label>

                        <select id="invite-destination" name="invite-destination" class="govuk-select">
                            <% for (let i = 0; i < oidcClients.length; i++) { %>
                                <% const service = oidcClients[i]; %>
                                <optgroup label="<%= service.name %> (<%= service.relyingParty.client_id%>)">
                                    <% if (service.relyingParty.service_home) { %>
                                        <option value="<%= service.relyingParty.client_id%>{split}<%= service.relyingParty.service_home %>"> <%= service.relyingParty.service_home %></option>
                                    <% } %>
                                    <% for (let a = 0; a < service.relyingParty.redirect_uris.length; a++) { %>
                                        <option value="<%= service.relyingParty.client_id%>{split}<%= service.relyingParty.redirect_uris[a] %>"> <%= service.relyingParty.redirect_uris[a] %></option>
                                    <% } %>
                                </optgroup>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="govuk-form-group">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                </div>
                
                <button class="govuk-button">Submit</button>
            </form>
        </div>
    </div>
</div>
