<div class="row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            Confirm token assignment
        </h1>
        <p>Please confirm you would like to assign this token to the user. </p>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <h2 class="heading-small">Token Details</h2>
        <div class="row">
            <div class="col-4">Serial number:</div>
            <div class="col-8"><%=serialNumber%></div>
        </div>
    </div>
</div>
<div class="row row-spacer">
    <div class="col-8">
        <h2 class="heading-small">User Details</h2>
        <div class="row">
            <div class="col-4">Name:</div>
            <div class="col-8"><%=user.firstName%> <%=user.lastName%></div>
        </div>
        <div class="row">
            <div class="col-4">Organisation:</div>
            <div class="col-8"><%=orgName%></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <form method="post" id="form-assign-digipass">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <input type="hidden" name="serialNumber" value="<%=serialNumber%>"/>
            <input type="hidden" name="userId" value="<%=userId%>"/>
            <input type="hidden" name="email" value="<%=email%>"/>
            <div class="form-submit submit-buttons">
                <% if (locals.isExistingUser) { %>
                    <a href="/users/<%=locals.userId%>/assign-digipass/<%=locals.user.orgId%>" class="button button-secondary">&#8810; Go back</a>
                    <button type="submit" class="button">Continue</button>
                    <a href="/users/<%=locals.userId%>" class="button button-secondary">Cancel</a>
                <% } else {%>
                    <a href="assign-digipass" class="button button-secondary">&#8810; Go back</a>
                    <button type="submit" class="button">Continue</button>
                    <a href="/users" class="button button-secondary">Cancel</a>
                <% } %>
            </div>
        </form>
    </div>
</div>

