<% if (locals.flash.info) { %>
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body"><%=locals.flash.info%></p>
  </div>
</div>
<% } %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Edit a profile
      </h1>
      <form method="post">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <legend hidden>Edit <%=user.name%>&apos;s profile</legend>
        <div class="govuk-form-group <%= (locals.validationMessages.firstName !== undefined) ? 'govuk-form-group--error' : '' %>">
          <label class="govuk-label" for="firstName">
              First name
          </label>
          <% if (locals.validationMessages.firstName !== undefined) { %>
          <p id="firstName" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span><%= locals.validationMessages.firstName %>
          </p>
          <% } %>
          <input class="govuk-input govuk-!-width-one-half <%= (locals.validationMessages.firstName !== undefined) ? 'govuk-input--error' : '' %>" id="firstName" name="firstName" type="text" spellcheck="false" value="<%= locals.user.firstName %>">
        </div>

        <div class="govuk-form-group govuk-character-count <%= (locals.validationMessages.lastName !== undefined) ? 'govuk-form-group--error' : '' %>" data-module="govuk-character-count" data-maxlength="200">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label" for="lastName">
              Last name
            </label>
          </h1>
          <% if (locals.validationMessages.lastName !== undefined) { %>
          <p id="lastName-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= locals.validationMessages.lastName %>
          </p>
          <% } %>
          <input class="govuk-input govuk-!-width-one-half <%= (locals.validationMessages.lastName !== undefined) ? 'govuk-input--error' : '' %>" id="lastName" name="lastName" type="text" spellcheck="false" value="<%= locals.user.lastName %>">
        </div>

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
