<% if (locals.flash.info) { %>
<div class="row">
    <div class="col-12">
        <div class="notification notification-success">
            <%=locals.flash.info%>
        </div>
    </div>
</div>
<% } %>

<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Edit a profile
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form method="post" id="form-edit-user">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <fieldset>
                <legend class="vh">Edit <%=user.name%>&apos;s profile</legend>
                <div class="form-group <%= (locals.validationMessages.firstName !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="firstName">First name</span> </label>
                    <% if (locals.validationMessages.firstName !== undefined) { %>
                    <p class="error-message" id="validation-firstName"><%=locals.validationMessages.firstName %></p>
                    <% } %>
                    <input class="form-control" id="firstName" name="firstName" type="text" <% if (locals.validationMessages.firstName !== undefined) { %> aria-invalid="true" aria-describedby="validation-firstName" <% } %> value="<%=locals.user.firstName%>">
                </div>
                <div class="form-group <%= (locals.validationMessages.lastName !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="lastName">Last name</span> </label>
                    <% if (locals.validationMessages.lastName !== undefined) { %>
                    <p class="error-message" id="validation-lastName"><%=locals.validationMessages.lastName %></p>
                    <% } %>
                    <input class="form-control" id="lastName" name="lastName" type="text" <% if (locals.validationMessages.lastName !== undefined) { %> aria-invalid="true" aria-describedby="validation-lastName" <% } %> value="<%=locals.user.lastName%>">
                </div>
                <% if (locals.user.orgId && locals.user.serviceId) { %>
                <div class="form-group ">
                    <label class="form-label" for="ktsId">Key to Success ID</label>
                    <input class="form-control" id="ktsId" name="ktsId" type="text"  value="<%=locals.user.ktsId%>">
                </div>
                <% } %>
                <input type="hidden" value="<%=locals.user.orgId%>" name="orgId" id="orgId" />
                <input type="hidden" value="<%=locals.user.serviceId%>" name="serviceId" id="serviceId" />
            </fieldset>
            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Save</button>
            </div>
        </form>
    </div>
</div>


