<div class="row">
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <h1 class="heading-xlarge">
                    Edit <%=user.name%>&apos;s profile
                </h1>
            </div>
            <div class="col-12">
                <form method="post" id="form-edit-user">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                    <fieldset>
                        <legend class="vh">Edit <%=user.name%>&apos;s profile</legend>
                        <div class="form-group <%= (locals.validationMessages.firstName !== undefined) ? 'form-group-error' : '' %>">
                            <label class="form-label" for="firstName">First name</span> </label>
                            <% if (locals.validationMessages.firstName !== undefined) { %>
                            <p class="error-message" id="validation-firstName"><%=locals.validationMessages.firstName %></p>
                            <% } %>
                            <input class="form-control full-width" id="firstName" name="firstName" type="text" <% if (locals.validationMessages.firstName !== undefined) { %> aria-invalid="true" aria-describedby="validation-firstName" <% } %> value="<%=locals.user.firstName%>">
                        </div>
                        <div class="form-group <%= (locals.validationMessages.lastName !== undefined) ? 'form-group-error' : '' %>">
                            <label class="form-label" for="lastName">Last name</span> </label>
                            <% if (locals.validationMessages.lastName !== undefined) { %>
                            <p class="error-message" id="validation-lastName"><%=locals.validationMessages.lastName %></p>
                            <% } %>
                            <input class="form-control full-width" id="lastName" name="lastName" type="text" <% if (locals.validationMessages.lastName !== undefined) { %> aria-invalid="true" aria-describedby="validation-lastName" <% } %> value="<%=locals.user.lastName%>">
                        </div>
                        <% if (locals.user.orgId && locals.user.serviceId) { %>
                        <div class="form-group ">
                            <label class="form-label" for="ktsId">KTS Id</span> </label>
                            <input class="form-control full-width" id="ktsId" name="ktsId" type="text"  value="<%=locals.user.ktsId%>">
                        </div>
                        <% } %>
                        <input type="hidden" value="<%=locals.user.orgId%>" name="orgId" id="orgId" />
                        <input type="hidden" value="<%=locals.user.serviceId%>" name="serviceId" id="serviceId" />
                    </fieldset>
                    <div class="form-submit submit-buttons">
                        <button type="submit" class="button">Save</button>
                        <a href="services" name="cancel" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-4">
        <aside>
            <h2 class="heading-medium">Actions</h2>
            <ul class="list">
                <%if(locals.user.status.id === 0) {%>
                <li><a href="confirm-reactivation">Reactivate</a></li>
                <%} else {%>
                <li><a href="confirm-deactivation">Deactivate</a></li>
                <%}%>
            </ul>
        </aside>
    </div>
</div>