<a href="/users" class="link-back">Back</a>
<%- include('summaryPartial', {area: 'organisations', user: locals.user, isInvitation: locals.isInvitation}); %>

<% if (locals.organisations.length > 0) {%>
<table class="data no-borders">
    <thead>
        <tr>
            <th scope="col" class="cwp-40">Organisation</th>
            <% if (!locals.isInvitation ) {%>
            <th scope="col" class="cwp-20">Legacy ID/Name</th>
            <% }%>
            <th scope="col" class="cwp-20">Permission level</th>
            <th scope="col" class="cwp-30">Action</th>
        </tr>
    </thead>
    <tbody>
        <% for (let o = 0; o < locals.organisations.length; o++) { %>
        <% const org = locals.organisations[o];%>
            <% if (org.requestDate) { %>
            <tr class="pending">
            <% } else { %>
            <tr>
            <% }%>
                <td> <%=org.name%> <br>
                    <article class="organisation-services" style="margin-bottom: 0">
                        <section class="organisation">
                            <div class="user">
                                <a href="" class="info-link">Information and approvers <span class="vh">for <%=org.name%></span> </a>
                            </div>
                            <div class="meta js-hidden">
                                <div class="approvers">
                                    <dl class="inline condensed small-dt">
                                        <% if (org.LegalName) { %>
                                        <dt><abbr title="Registered legal name">Legal name: </abbr></dt>
                                        <dd><%=org.LegalName%></dd>
                                        <% } %>

                                        <% if (org.urn) { %>
                                        <dt><abbr title="Unique Reference Number">URN: </abbr></dt>
                                        <dd><%=org.urn%></dd>
                                        <%} else if(org.uid) {%>
                                        <dt><abbr title="Unique Identifier">UID: </abbr></dt>
                                        <dd><%=org.uid%></dd>
                                        <%}%>
                                        
                                        <% if (org.ukprn) { %>
                                        <dt><abbr title="UK Provider Reference Number">UKPRN: </abbr></dt>
                                        <dd><%=org.ukprn%></dd>
                                        <% } %>

                                        <% if (org.upin) { %>
                                        <dt><abbr title="The Independent Specialist Provider's Unique Provider Identification Number">UPIN: </abbr></dt>
                                        <dd><%=org.upin%></dd>
                                        <% } %>

                                        <% if (org.status && org.status.name) { %>
                                        <dt><abbr title="Status">Status: </abbr></dt>
                                        <dd><%=org.status.name%></dd>
                                        <% } %>

                                        <% if (org.approvers && org.approvers.length > 0) { %>
                                            <dt>Approvers:</dt>
                                            <dd>
                                                <ul>
                                                    <% for (let a = 0; a < org.approvers.length; a++) { %>
                                                    <li><%=org.approvers[a].name%> <a href="mailto:<%=org.approvers[a].email%>"><%=org.approvers[a].email%></a></li>
                                                    <% } %>
                                                </ul>
                                            </dd>
                                        <% } %>
                                    </dl>
                                </div>
                            </div>
                        </section>
                    </article>
                </td>
                <% if (!locals.isInvitation ) {%>
                <td><%= org.numericIdentifier && org.textIdentifier ? `${org.numericIdentifier} / ${org.textIdentifier}` : '' -%></td>
                <% }%>
                <% if (org.role) { %>
                <td><%=org.role.name%></td>
                <% } else { %>
                    <td>
                        Requested <br> <%= locals.moment(org.requestDate).format('DD/MM/YYYY') %>
                    </td>
                <% } %>
                <% if (org.requestDate) { %>
                <td><a href="/access-requests/<%=org.requestId%>/organisation/review">Review request</a> </td>
                <% } else { %>
                <td><a href="/users/<%=user.id%>/organisations/<%=org.id%>/edit-permission">Edit permission level</a> </td>
                <% } %>
            </tr>
        <%}%>
    </tbody>
</table>
<% } else { %>
<div class="empty-state">
    <p><%= user.name %> is not associated with any organisations</p>
</div>
<% } %>
