<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Confirm removal from organisation
        </h1>
        <p class="lede">Please review these details before removing <%= locals.user.firstName %> <%= locals.user.lastName %> from <%=locals.organisationDetails.organisation.name%> and associated services.</p>

        <dl class="app-check-your-answers app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    User
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.user.firstName %> <%= locals.user.lastName%>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Organisation
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%=locals.organisationDetails.organisation.name%>
                </dd>
            </div>
            <% if (locals.services.length > 0) { %>
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__title">
                        Services
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <% for (let i = 0; i < locals.services.length; i++) { %>
                            <% const service = locals.services[i]; %>
                            <%=service.name%> <br>
                        <% } %>
                    </dd>
                </div>
            <% } %>
        </dl>

        <form method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Continue</button>
                <a href="/users/<%=locals.user.uid%>" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
