<%
const paginationModel = {
    disableNextAndPrevious: true,
    method: 'post',
    csrfToken,
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.users ? locals.users.length: undefined,
    data: [
        { key: 'criteria', value: locals.criteria },
        { key: 'sort', value: locals.sortBy },
        { key: 'sortDir', value: locals.sortOrder },
        { key: 'showFilters', value: locals.showFilters }
    ]
}
if (organisationTypes && organisationTypes.length > 0) {
    const selected = organisationTypes.filter(x => x.isSelected);
    selected.forEach((item) => {
      paginationModel.data.push({ key: 'organisationCategories', value: item.id });
    });
}
if (accountStatuses && accountStatuses.length > 0) {
    const selected = accountStatuses.filter(x => x.isSelected);
    selected.forEach((item) => {
        paginationModel.data.push({ key: 'statusId', value: item.id });
    });
}
if (services && services.length > 0) {
    const selected = services.filter(x => x.isSelected);
    selected.forEach((item) => {
        paginationModel.data.push({ key: 'services', value: item.id });
    });
}

%>

<% if (locals.flash.info) { %>
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body"><%=locals.flash.info%></p>
  </div>
</div>
<% } %>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Users</h1>
            <form class="govuk-form-group" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="showFilters" value="<%= showFilters %>"/>
                <input type="hidden" name="sort" value="<%= sortBy %>"/>
                <input type="hidden" name="sortDir" value="<%= sortOrder %>"/>

                <% for (let i = 0; i < organisationTypes.length; i += 1) { %>
                <% if (organisationTypes[i].isSelected) { %>
                <input name="organisationType" value="<%= organisationTypes[i].id %>" type="hidden">
                <% } %>
                <% } %>

                <% for (let i = 0; i < accountStatuses.length; i += 1) { %>
                <% if (accountStatuses[i].isSelected) { %>
                <input name="accountStatus" value="<%= accountStatuses[i].id %>" type="hidden">
                <% } %>
                <% } %>

                <% for (let i = 0; i < services.length; i += 1) { %>
                <% if (services[i].isSelected) { %>
                <input name="service" value="<%= services[i].id %>" type="hidden">
                <% } %>
                <% } %>


                <div class="govuk-form-group <%= (locals.validationMessages.criteria !== undefined) ? 'form-group-error' : '' %>">
                    <% if (locals.validationMessages.criteria !== undefined) { %>
                        <p class="error-message" id="validation-service"><%=locals.validationMessages.criteria %></p>
                    <% } %>
                    <fieldset class="govuk-fieldset">
                        <label for="criteria" class="vh">Search by name, email or organisation</label>
                        <input type="text" id="criteria" name="criteria" value="<%= criteria %>" class="govuk-input govuk-!-width-two-thirds"
                               placeholder="Search by name, email or organisation">
                        <button type="submit" class="govuk-button">Search</button>
                    </fieldset>
                </div>
            </form>
            <form method="post" class="show-filters">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="criteria" value="<%= criteria %>"/>
                <input type="hidden" name="page" value="<%= page %>"/>
                <input type="hidden" name="sort" value="<%= sortBy %>"/>
                <input type="hidden" name="sortDir" value="<%= sortOrder %>"/>
                <input type="hidden" name="showFilters" value="<%= !showFilters %>"/>
                <input type="hidden" name="isFilterToggle" value="true"/>
                <button type="submit" class="button-link filter-link"><%= (showFilters ? 'Hide' : 'Show') %> filters</button>
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
            <aside>
                <h2 class="govuk-heading-m">Actions</h2>
                <ul class="govuk-list">
                    <li><a class="govuk-link" href="/users/new-user">Invite user</a></li>
                    <li><a class="govuk-link" href="/users/bulk-user-actions">Bulk user actions</a></li>
                    <% if (locals.canViewRequests) { %>
                        <li><a class="govuk-link" href="/access-requests">View user requests</a></li>
                    <% } %>
                </ul>
            </aside>
        </div>
    </div>
    
    
    <div class="govuk-grid-row">
    <% if (showFilters) { %>
        <div class="govuk-grid-column-one-third">
            <form method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="criteria" value="<%= criteria %>"/>
                <input type="hidden" name="page" value="<%= page %>"/>
                <input type="hidden" name="sort" value="<%= sortBy %>"/>
                <input type="hidden" name="sortDir" value="<%= sortOrder %>"/>
                <input type="hidden" name="showFilters" value="true"/>

                <div class="filter-box">
                    <div class="container-head js-container-head">
                        <div class="option-select-label">
                            Organisation type
                        </div>
                    </div>
                    <div role="group" aria-labelledby="option-select-title-organisationtype" class="options-container"
                        id="organisationtypes">
                        <div class="js-auto-height-inner">
                            <% for (let i = 0; i < organisationTypes.length; i += 1) { %>
                            <label class="govuk-label">
                                <input name="organisationType" value="<%= organisationTypes[i].id %>"
                                    type="checkbox" <%= (organisationTypes[i].isSelected ? 'checked="checked"' : '') %>>
                                <%= organisationTypes[i].name %>
                            </label>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="filter-box">
                    <div class="container-head js-container-head">
                        <div class="option-select-label">
                            Account status
                        </div>
                    </div>
                    <div role="group" aria-labelledby="option-select-title-account-status" class="options-container"
                        id="account-status">
                        <div class="js-auto-height-inner">
                            <% for (let i = 0; i < accountStatuses.length; i += 1) { %>
                            <label class="govuk-label">
                                <input name="accountStatus" value="<%= accountStatuses[i].id %>"
                                    type="checkbox" <%= (accountStatuses[i].isSelected ? 'checked="checked"' : '') %>>
                                <%= accountStatuses[i].name %>
                            </label>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="filter-box">
                    <div class="container-head js-container-head">
                        <div class="option-select-label">
                            Service
                        </div>
                    </div>
                    <div role="group" aria-labelledby="option-select-title-service" class="options-container" id="services">
                        <div class="js-auto-height-inner">
                            <% for (let i = 0; i < services.length; i += 1) { %>
                            <label class="govuk-label">
                                <input name="service" value="<%= services[i].id %>"
                                    type="checkbox" <%= (services[i].isSelected ? 'checked="checked"' : '') %>>
                                <%= services[i].name %>
                            </label>
                            <% } %>
                        </div>
                    </div>
                </div>

                <button class="govuk-button govuk-button--secondary">Apply filter</button>

            </form>
        </div>
    <% } %>
    <% if (locals.users) { %>
    <div class="<%= (showFilters) ? 'govuk-grid-column-two-thirds' : 'govuk-grid-column-full' %>">
        <%- include('../../sharedViews/paginationNew', paginationModel); %>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <%
            let baseSortUri = `?criteria=${criteria}&page=${page}&showFilters=${showFilters}`;

            if (organisationTypes && organisationTypes.length > 0) {
                const selected = organisationTypes.filter(x => x.isSelected);
                selected.forEach((item) => {
                    baseSortUri += `&organisationType=${item.id}`;
                });
            }
            if (accountStatuses && accountStatuses.length > 0) {
                const selected = accountStatuses.filter(x => x.isSelected);
                selected.forEach((item) => {
                    baseSortUri += `&accountStatus=${item.id}`;
                });
            }
            if (services && services.length > 0) {
                const selected = services.filter(x => x.isSelected);
                selected.forEach((item) => {
                    baseSortUri += `&service=${item.id}`;
                });
            }
            %>
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    <a href="<%=baseSortUri%>&sort=name&sortDir=<%= sort.name.nextDirection %>&search=true"
                       class="govuk-link govuk-link--no-underline <% if (sort.name.applied) { %>sorted dir-<%= (sort.name.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>"
                    >Name</a></th>
                <th scope="col" class="govuk-table__header">
                    <a href="<%=baseSortUri%>&sort=email&sortDir=<%= sort.email.nextDirection %>&search=true"
                       class="govuk-link govuk-link--no-underline <% if (sort.email.applied) { %>sorted dir-<%= (sort.email.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>"
                    >Email</a></th>
                <th scope="col" class="govuk-table__header">
                    <a href="<%=baseSortUri%>&sort=organisation&sortDir=<%= sort.organisation.nextDirection %>&search=true"
                       class="govuk-link govuk-link--no-underline <% if (sort.organisation.applied) { %>sorted dir-<%= (sort.organisation.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>"
                    >Organisation</a></th>
                <th scope="col" class="govuk-table__header">
                    <a href="<%=baseSortUri%>&sort=lastlogin&sortDir=<%= sort.lastLogin.nextDirection %>&search=true"
                       class="govuk-link govuk-link--no-underline <% if (sort.lastLogin.applied) { %>sorted dir-<%= (sort.lastLogin.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>"
                    >Last Login</a></th>
                <th scope="col" class="govuk-table__header">
                    <a href="<%=baseSortUri%>&sort=status&sortDir=<%= sort.status.nextDirection %>&search=true"
                       class="govuk-link govuk-link--no-underline <% if (sort.status.applied) { %>sorted dir-<%= (sort.status.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>"
                    >Status</a></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <% if(locals.users.length === 0 && locals.criteria) { %>
            <tr class="govuk-table__row">
                <td colspan="5"><span class="empty-state">No users found</span></td>
            </tr>
            <% } %>
            <% for (let i = 0; i < locals.users.length; i++) { %>
            <tr class="govuk-table__row govuk-body">
                <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="/users/<%= users[i].id %>/organisations<%= baseSortUri %>"><%= users[i].name %></a></td>
                <td class="govuk-table__cell govuk-body-s"><span><%= users[i].email %></span></td>
                <td class="govuk-table__cell govuk-body-s">
                    <% if(users[i].organisation) { %>
                    <%= users[i].organisation.name %>
                    <% }else { %>
                    Unknown
                    <% } %>
                </td>
                <td class="govuk-table__cell govuk-body-s">
                    <% if(locals.users[i].lastLogin) { %>
                    <%= locals.users[i].formattedLastLogin %>
                    <% } else { %>
                    Never
                    <% } %>
                </td>
                <td class="govuk-table__cell govuk-body-s"><%= users[i].status.description %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <%- include('../../sharedViews/paginationNew', paginationModel); %>
    </div>
    <% } %>
</div>
</div>


