<%
const paginationModel = {
    method: 'post',
    csrfToken,
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.users ? locals.users.length: undefined,
    data: [
        { key: 'criteria', value: locals.criteria },
        { key: 'sort', value: locals.sortBy },
        { key: 'sortDir', value: locals.sortOrder },
        { key: 'showFilters', value: locals.showFilters }
    ]
}
if (organisationTypes && organisationTypes.length > 0) {
    const selected = organisationTypes.filter(x => x.isSelected);
    selected.forEach((item) => {
      paginationModel.data.push({ key: 'organisationCategories', value: item.id });
    });
}
if (accountStatuses && accountStatuses.length > 0) {
    const selected = accountStatuses.filter(x => x.isSelected);
    selected.forEach((item) => {
        paginationModel.data.push({ key: 'statusId', value: item.id });
    });
}
if (services && services.length > 0) {
    const selected = services.filter(x => x.isSelected);
    selected.forEach((item) => {
        paginationModel.data.push({ key: 'services', value: item.id });
    });
}

%>

<% if (locals.flash.info) { %>
    <div class="row">
        <div class="col-12">
            <div class="notification notification-success">
                <%= locals.flash.info %>
            </div>
        </div>
    </div>
<% } %>

<div class="row row-spacer">
    <div class="col-6">
        <h1 class="heading-xlarge">Users</h1>

            <form method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="showFilters" value="<%= showFilters %>"/>

                <% for (let i = 0; i < organisationTypes.length; i += 1) { %>
                <% if (organisationTypes[i].isSelected) { %>
                <input name="organisationType" value="<%= organisationTypes[i].id %>" type="hidden">
                <% } %>
                <% } %>

                <% for (let i = 0; i < accountStatuses.length; i += 1) { %>
                <% if (accountStatuses[i].isSelected) { %>
                <input name="accountStatus" value="<%= accountStatuses[i].id %>" type="hidden">
                <% } %>
                <% } %>

                <% for (let i = 0; i < services.length; i += 1) { %>
                <% if (services[i].isSelected) { %>
                <input name="service" value="<%= services[i].id %>" type="hidden">
                <% } %>
                <% } %>


                <div class="search-field form-group <%= (locals.validationMessages.criteria !== undefined) ? 'form-group-error' : '' %>">
                    <% if (locals.validationMessages.criteria !== undefined) { %>
                        <p class="error-message" id="validation-service"><%=locals.validationMessages.criteria %></p>
                    <% } %>
                    <fieldset class="search-input">
                        <label for="criteria" class="vh">Search by name, email or organisation</label>
                        <input type="text" id="criteria" name="criteria" value="<%= criteria %>" class="form-control"
                               placeholder="Search by name, email or organisation">
                    </fieldset>
                    <fieldset class="search-submit">
                        <button type="submit" class="button">Search</button>
                    </fieldset>
                </div>
            </form>
            <form method="post" class="show-filters">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="criteria" value="<%= criteria %>"/>
                <input type="hidden" name="page" value="<%= page %>"/>
                <input type="hidden" name="sort" value="<%= sortBy %>"/>
                <input type="hidden" name="sortDir" value="<%= sortOrder %>"/>
                <input type="hidden" name="showFilters" value="<%= !showFilters %>"/>
                <input type="hidden" name="isFilterToggle" value="true"/>
                <button type="submit" class="button-link filter-link"><%= (showFilters ? 'Hide' : 'Show') %> filters</button>
            </form>

    </div>

    <div class="col-4 pull-right">
        <aside>
            <h2 class="heading-medium">Actions</h2>
            <ul class="list">
                <li><a href="/users/new-user">Invite user</a></li>
                <li><a href="/users/new-k2s-user">Invite KtS user</a></li>
                <% if (locals.canViewRequests) { %>
                    <li><a href="/access-requests">View user requests</a></li>
                <% } %>
            </ul>
        </aside>
    </div>
</div>

<div class="row">
    <% if (showFilters) { %>
    <div class="col-4">
        <form method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <input type="hidden" name="criteria" value="<%= criteria %>"/>
            <input type="hidden" name="page" value="<%= page %>"/>
            <input type="hidden" name="sort" value="<%= sortBy %>"/>
            <input type="hidden" name="sortDir" value="<%= sortOrder %>"/>
            <input type="hidden" name="showFilters" value="true"/>

            <div class="filter-box">
                <div class="container-head js-container-head">
                    <div class="option-select-label">
                        Organisation type
                    </div>
                </div>
                <div role="group" aria-labelledby="option-select-title-organisationtype" class="options-container"
                     id="organisationtypes">
                    <div class="js-auto-height-inner">
                        <% for (let i = 0; i < organisationTypes.length; i += 1) { %>
                        <label>
                            <input name="organisationType" value="<%= organisationTypes[i].id %>"
                                   type="checkbox" <%= (organisationTypes[i].isSelected ? 'checked="checked"' : '') %>>
                            <%= organisationTypes[i].name %>
                        </label>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="filter-box">
                <div class="container-head js-container-head">
                    <div class="option-select-label">
                        Account status
                    </div>
                </div>
                <div role="group" aria-labelledby="option-select-title-account-status" class="options-container"
                     id="account-status">
                    <div class="js-auto-height-inner">
                        <% for (let i = 0; i < accountStatuses.length; i += 1) { %>
                        <label>
                            <input name="accountStatus" value="<%= accountStatuses[i].id %>"
                                   type="checkbox" <%= (accountStatuses[i].isSelected ? 'checked="checked"' : '') %>>
                            <%= accountStatuses[i].name %>
                        </label>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="filter-box">
                <div class="container-head js-container-head">
                    <div class="option-select-label">
                        Service
                    </div>
                </div>
                <div role="group" aria-labelledby="option-select-title-service" class="options-container" id="services">
                    <div class="js-auto-height-inner">
                        <% for (let i = 0; i < services.length; i += 1) { %>
                        <label>
                            <input name="service" value="<%= services[i].id %>"
                                   type="checkbox" <%= (services[i].isSelected ? 'checked="checked"' : '') %>>
                            <%= services[i].name %>
                        </label>
                        <% } %>
                    </div>
                </div>
            </div>

            <button class="button-secondary">Apply filter</button>

        </form>
    </div>
    <% } %>
    <% if (locals.users) { %>
    <div class="col-<%= (showFilters ? 8 : 12) %>">
        <%- include('../../sharedViews/pagination', paginationModel); %>
        <table class="data">
            <thead>
            <%
            let baseSortUri = `?criteria=${criteria}&page=${page}&showFilters=${showFilters}`;

            if (organisationTypes && organisationTypes.length > 0) {
                const selected = organisationTypes.filter(x => x.isSelected);
                selected.forEach((item) => {
                    baseSortUri += `&organisationType=${item.id}`;
                });
            }
            if (accountStatuses && accountStatuses.length > 0) {
                const selected = accountStatuses.filter(x => x.isSelected);
                selected.forEach((item) => {
                    baseSortUri += `&accountStatus=${item.id}`;
                });
            }
            if (services && services.length > 0) {
                const selected = services.filter(x => x.isSelected);
                selected.forEach((item) => {
                    baseSortUri += `&service=${item.id}`;
                });
            }
            %>
            <tr class="sortable">
                <th scope="col" class="cwp-15">
                    <a href="<%=baseSortUri%>&sort=name&sortdir=<%= sort.name.nextDirection %>"
                       class="<% if (sort.name.applied) { %>sorted dir-<%= (sort.name.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>"
                    >Name</a></th>
                <th scope="col" class="cwp-35">
                    <a href="<%=baseSortUri%>&sort=email&sortdir=<%= sort.email.nextDirection %>"
                       class="<% if (sort.email.applied) { %>sorted dir-<%= (sort.email.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>"
                    >Email</a></th>
                <th scope="col" class="cwp-25">
                    <a href="<%=baseSortUri%>&sort=organisation&sortdir=<%= sort.organisation.nextDirection %>"
                       class="<% if (sort.organisation.applied) { %>sorted dir-<%= (sort.organisation.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>"
                    >Organisation</a></th>
                <th scope="col" class="cwp-15">
                    <a href="<%=baseSortUri%>&sort=lastlogin&sortdir=<%= sort.lastLogin.nextDirection %>"
                       class="<% if (sort.lastLogin.applied) { %>sorted dir-<%= (sort.lastLogin.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>"
                    >Last Login</a></th>
                <th scope="col" class="cwp-10">
                    <a href="<%=baseSortUri%>&sort=status&sortdir=<%= sort.status.nextDirection %>"
                       class="<% if (sort.status.applied) { %>sorted dir-<%= (sort.status.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>"
                    >Status</a></th>
            </tr>
            </thead>
            <tbody>
            <% if(locals.users.length === 0 && locals.criteria) { %>
            <tr>
                <td colspan="5"><span class="empty-state">No users found</span></td>
            </tr>
            <% } %>
            <% for (let i = 0; i < locals.users.length; i++) { %>
            <tr>
                <td><a class="breakable" href="/users/<%= users[i].id %>/organisations<%= baseSortUri %>"><%= users[i].name %></a></td>
                <td><span class="breakable"><%= users[i].email %></span></td>
                <td>
                    <% if(users[i].organisation) { %>
                    <%= users[i].organisation.name %>
                    <% }else { %>
                    Unknown
                    <% } %>
                </td>
                <td>
                    <% if(locals.users[i].lastLogin) { %>
                    <%= locals.moment(locals.users[i].lastLogin).fromNow() %>
                    <% } else { %>
                    Never
                    <% } %>
                </td>
                <td><%= users[i].status.description %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <%- include('../../sharedViews/pagination', paginationModel); %>
    </div>
    <% } %>
</div>
