<div style="margin:20px 0;">
    <form method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <input name="criteria" id="criteria" placeholder="name, email or organisation" value="<%= criteria %>"
               style="width:500px;"/>
        <button type="submit">Search</button>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th><a href="?criteria=<%=criteria%>&page=<%=page%>&sort=name&sortdir=<%=sort.name.nextDirection%>">Name</a></th>
        <th><a href="?criteria=<%=criteria%>&page=<%=page%>&sort=email&sortdir=<%=sort.email.nextDirection%>">Email</a></th>
        <th><a href="?criteria=<%=criteria%>&page=<%=page%>&sort=organisation&sortdir=<%=sort.organisation.nextDirection%>">Organisation</a></th>
        <th><a href="?criteria=<%=criteria%>&page=<%=page%>&sort=lastlogin&sortdir=<%=sort.lastLogin.nextDirection%>">Last Login</a></th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% if(locals.users.length === 0 && locals.criteria) { %>
    <tr>
        <td colspan="5">No Users found</td>
    </tr>
    <% } %>

    <% for (let i = 0; i < locals.users.length; i++) { %>
    <tr>
        <td><a href="/users/<%=users[i].id%>/"><%= users[i].name %></a></td>
        <td><%= users[i].email %></td>
        <% if(users[i].organisation) { %>
        <td><%= users[i].organisation.name %></td>
        <% }else { %>
        <td>Unknown</td>
        <% } %>
        <% if(locals.users[i].lastLogin) { %>
        <td><%= locals.moment(locals.users[i].lastLogin).fromNow() %></td>
        <% }else { %>
        <td>Never</td>
        <% } %>
        <td><%= users[i].status.description %></td>
    </tr>
    <% } %>
    </tbody>
</table>

<% if(locals.numberOfPages > 1) { %>
<div class="pagination">
    <div class="page-first"><a href="?criteria=<%= criteria %>&page=1">&lt;&lt;</a></div>
    <% for(let p = 1; p <= locals.numberOfPages; p++) { %>
    <% if(p === locals.page) { %>
    <div class="page-numbered page-current"><%= p %></div>
    <% } else { %>
    <div class="page-numbered"><a href="?criteria=<%= criteria %>&page=<%= p %>"><%= p %></a></div>
    <% } %>
    <% } %>
    <div class="page-last"><a href="?criteria=<%= criteria %>&page=<%= numberOfPages %>">&gt;&gt;</a></div>
</div>
<% } %>


<style>
    .pagination {
        margin-top:10px;
    }
    .pagination div {
        display: inline-block;
        padding: 7px;
    }

    i.sort {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;

        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    i.sort-asc {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    i.sort-desc {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
</style>