<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                Select your Organisation
            </h1>
            <p class="govuk-body">You are associated with more than one organisation. Select the organisation associated with the service you would like to access.</p>

            <h2 class="govuk-heading-m">
                Your Organisations
            </h2>

            <form method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                <div class="govuk-form-group <%= (locals.validationMessages.selectedOrganisation !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <fieldset class="govuk-fieldset" aria-describedby="validation-selected-organisation">
                        <% if (locals.validationMessages.selectedOrganisation !== undefined) { %>
                        <p class="govuk-error-message" id="validation-selected-organisation"><%=locals.validationMessages.selectedOrganisation %></p>
                        <% } %>
                        <% for(let i= 0; i < locals.organisations.length; i++) {
                            const org = locals.organisations[i];
                        %>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="<%= org.organisation.id %>" type="radio" name="selectedOrganisation" value="<%= org.organisation.id %>">
                                <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="<%= org.organisation.id %>">
                                    <%= org.organisation.name %>
                                    <%= org.organisation.status ? `(${org.organisation.status.name})` : ''%>
                                </label>
                                <div id="<%= org.organisation.id %>" class="govuk-hint govuk-radios__hint">
                                    <% if (org.naturalIdentifiers) { %>
                                            <%= org.naturalIdentifiers.join(', ') %>
                                    <% } %>
                                    <% if (org.organisation.LegalName) { %>
                                            Legal Name: <%= org.organisation.LegalName %>
                                    <% } %>
                                    <% if (org.organisation.address && org.organisation.address !== 'Not recorded') { %>
                                            <%= org.organisation.address %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                    <a href="./" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

