<% if (locals.flash.info) { %>
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-body"><%=locals.flash.info[1]%></p>
        </div>
    </div>
<% } %>

<%
const paginationModel = {
    csrfToken,
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.numberOfResultsOnPage
}
%>

<div class="govuk-width-container">
    <div class="col-8">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l"><%= user.name %></span>
            Manage console roles
        </h1>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-static-padding-0">Email:</dt>
                <dd class="govuk-summary-list__value govuk-!-static-padding-0"><%= user.email %></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-static-padding-0">Last login:</dt>
                <dd class="govuk-summary-list__value govuk-!-static-padding-0"><%= user.formattedLastLogin ? user.formattedLastLogin : 'Never' %></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-static-padding-0">Account status:</dt>
                <dd class="govuk-summary-list__value govuk-!-static-padding-0"><%= user.status.description %></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-static-padding-0">Number of logins in last 12 months:</dt>
                <dd class="govuk-summary-list__value govuk-!-static-padding-0"><%= user.loginsInPast12Months.successful %></dd>
            </div>         
        </dl>
    </div>
    <% if (pageOfServices.services.length > 0) { %>
        <%- include('../../sharedViews/paginationNew', paginationModel); %>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Service</th>
                    <th scope="col" class="govuk-table__header">Service type</th>
                    <th scope="col" class="govuk-table__header">Visibility</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <% for(let i=0; i< pageOfServices.services.length; i++ ) {%>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="add-manage-console-roles/<%= pageOfServices.services[i].id %>"><%= pageOfServices.services[i].name %></a></td>
                        <td class="govuk-table__cell"><%= pageOfServices.services[i].isIdOnlyService ? 'ID only' : 'Role'%></td>
                        <td class="govuk-table__cell"><%= pageOfServices.services[i].isHiddenService ? 'Hidden' : 'Visible'%></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <%- include('../../sharedViews/paginationNew', paginationModel); %>
    <% } else { %>
        <p>This user does not have any services mapped to their account.</p>
    <% }; %>
</div>
