<div class="row">
    <% if (locals.flash.info) { %>
        <div class="col-12">
            <div class="notification notification-success">
                <div>
                    <p><%= locals.flash.info[1] %></p>
                </div>
            </div>
        </div>
    <% } %>
</div>

<%
const paginationModel = {
    method: 'get',
    csrfToken,
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.numberOfResultsOnPage
}
%>

<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge heading-breakable">
            <span class="heading-secondary"><%= user.name %></span>
            Manage console roles
        </h1>
        <dl class="inline condensed">
            <dt class="label">Email:</dt>
            <dd><%= user.email %></dd>
            <dt class="label">Last login:</dt>
            <dd><%= user.formattedLastLogin ? user.formattedLastLogin : 'Never' %></dd>
            <dt class="label">Account status:</dt>
            <dd><%= user.status.description %></dd>
            <dt class="label">Number of logins in last 12 months:</dt>
            <dd><%= user.loginsInPast12Months.successful %></dd>
        </dl>
    </div>
</div>
<div>
<% if (pageOfServices.services.length > 0) { %>
    <%- include('../../sharedViews/pagination', paginationModel); %>
    <table class="data no-borders">
        <thead>
            <tr>
                <th scope="col" class="cwp-40">Service</th>
                <th scope="col" class="cwp-20">Service type</th>
                <th scope="col" class="cwp-30">Visibility</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i< pageOfServices.services.length; i++ ) {%>
                <tr>
                    <td><a href="add-manage-console-roles/<%= pageOfServices.services[i].id %>"><%= pageOfServices.services[i].name %></a></td>
                    <td><%= pageOfServices.services[i].isIdOnlyService ? 'ID only' : 'Role'%></td>
                    <td><%= pageOfServices.services[i].isHiddenService ? 'Hidden' : 'Visible'%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
    <%- include('../../sharedViews/pagination', paginationModel); %>
<% } else { %>
    <p>This user does not have any services mapped to their account.</p>
<% }; %>
</div>