<%- include('summaryPartial', {area: 'services', user: locals.user, isInvitation: locals.isInvitation}); %>

<% let hasServices = false %>

<% for (let o = 0; o < locals.organisations.length; o++) { %>

<% const org = locals.organisations[o];%>
    <% if (org.services.length > 0) {%>
    <% hasServices = true %>
    <article class="organisation-services">
        <section class="organisation">
            <header>
                <h3 class="heading-small spacer-heading"><%=org.name%>
                    <%= org.status ? `(${org.status.name})` : '' %>
                    <% if (org.naturalIdentifiers && org.naturalIdentifiers.length !== 0) { %>
                        (<%= org.naturalIdentifiers.join(', ') %>)
                    <% } %>
                </h3>
            </header>
        </section>
        <section class="services">

            <table class="data no-borders">
                <thead>
                <tr>
                    <th scope="col" class="cwp-30">Service</th>
                    <th scope="col" class="cwp-25">User type</th>
                    <th scope="col" class="cwp-15">Activated</th>
                    <th scope="col" class="cwp-15">Token</th>
                </tr>
                </thead>
                <tbody>
                <%for(let s = 0; s < org.services.length; s++) {%>
                <%const service = org.services[s];%>
                <tr>
                    <td><a href="organisations/<%=org.id%>/services/<%=service.id%>"><%=service.name%></a></td>
                    <td><%=service.userType.name%></td>
                    <%if(service.grantedAccessOn) {%>
                    <td><%=locals.moment(service.grantedAccessOn).format('DD MMM YYYY')%></td>
                    <%} else {%>
                    <td>Pending</td>
                    <%}%>
                    <td>
                        <%if (service.token && service.token.serialNumber) {%>
                        <% if (locals.user.id.startsWith('inv-')) {%>
                        <%=service.token ? service.token.serialNumber : ''%>
                        <% } else {%>
                        <a href="/userDevices/<%=service.token.nonFormattedSerialNumber%>"><%=service.token.serialNumber%></a>
                        <% } %>
                        <% } else { %>
                        <a href="/users/<%=locals.user.id%>/assign-digipass/<%=service.id%>">Assign</a>
                        <% } %>
                    </td>
                </tr>
                <%}%>
                </tbody>
            </table>
        </section>
    </article>
    <%}%>
<%}%>

<% if (!hasServices) { %>
<div class="empty-state">
    <p><%= user.name %> is not associated with any services</p>
</div>
<% } %>