<%- include('summaryPartial', {area: 'services', user: locals.user, isInvitation: locals.isInvitation}); %>

<% for (let o = 0; o < locals.organisations.length; o++) { %>
<% const org = locals.organisations[o];%>

<h3 class="heading-small spacer-heading"><%=org.name%> <%=org.urn%></h3>
<table class="data no-borders">
    <thead>
        <tr>
            <th scope="col" class="cwp-30">Service</th>
            <th scope="col" class="cwp-8">User type</th>
            <th scope="col" class="cwp-10">Activated</th>
            <th scope="col" class="cwp-10">Last active</th>
            <th scope="col" class="cwp-30">Approvers</th>
            <th scope="col" class="cwp-12">Token</th>
        </tr>
    </thead>
    <tbody>
    <%for(let s = 0; s < org.services.length; s++) {%>
    <%const service = org.services[s];%>
    <tr>
        <td><%=service.name%></td>
        <td><%=service.userType.name%></td>
        <%if(service.grantedAccessOn) {%>
        <td><%=locals.moment(service.grantedAccessOn).format('DD MMM YYYY')%></td>
        <%} else {%>
        <td>Pending</td>
        <%}%>
        <td><%=service.lastLogin ? locals.moment(service.lastLogin).format('DD MMM YYYY, HH:mm:ss') : 'Never'%></td>
        <td>
            <%for(let a = 0; a < service.approvers.length; a++) {%>
                <%if(a>0){%>,<%}%>
                <%if(service.approvers[a].id === locals.user.id) {%>
                <%=service.approvers[a].name%>
                <%} else {%>
                <a href="/users/<%=service.approvers[a].id%>"><%=service.approvers[a].name%></a>
                <%}%>
            <%}%>
        </td>
        <td>
            <%if (service.token && service.token.serialNumber) {%>
                <% if (locals.user.id.startsWith('inv-')) {%>
                    <%=service.token ? service.token.serialNumber : ''%>
                <% } else {%>
                    <a href="/userDevices/<%=service.token.nonFormattedSerialNumber%>/<%=locals.user.id%>"><%=service.token.serialNumber%></a>
                <% } %>
            <% } else { %>
                <a href="/users/<%=locals.user.id%>/assign-digipass/<%=service.id%>">Assign</a>
            <% } %>
        </td>
    </tr>
    <%}%>
    </tbody>
</table>
<%}%>