<% if(locals.user.status.id === 0) { %>
<div class="row">
    <div class="col-12">
        <div class="notification">
            <p>
                This account was deactivated
                <% if(locals.user.status.changedOn) { %>
                on <%= locals.moment(locals.user.status.changedOn).format('DD MMM YYYY') %>.
                <% } %>
                <a href="confirm-reactivation" class="action">Reactivate</a>
            </p>
        </div>
    </div>
</div>
<% } %>
<% if(locals.user.status.id === -2) { %>
    <div class="row">
        <div class="col-12">
            <div class="notification">
                <p>
                    This account invitation was deactivated
                    <% if(locals.user.status.changedOn) { %>
                    on <%= locals.moment(locals.user.status.changedOn).format('DD MMM YYYY') %>.
                    <% } %>
                    <a href="confirm-invitation-reactivation" class="action">Reactivate invitation</a>
                </p>
            </div>
        </div>
    </div>
    <% } %>
<% if(locals.user.pendingEmail) { %>
<div class="notification notification-information" tabindex="0">
    <h2>Pending email address change</h2>
    <p>Waiting for <%= user.name %> to confirm the new email address of <%= user.pendingEmail %>.</p>
    <p>
    <form method="post" action="cancel-change-email">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <button class="button-text">Cancel change email</button>
    </form>
    </p>
</div>
<% } %>
<% if (locals.flash.info) { %>
<div class="row">
    <div class="col-12">
        <div class="notification notification-success">
            <%= locals.flash.info %>
        </div>
    </div>
</div>
<% } %>

<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge heading-breakable">
            <span class="heading-secondary"><%= user.email %></span>
            <%= user.name %>
        </h1>
        <dl class="inline condensed">
            <dt class="label">Last login:</dt>
            <dd><%= locals.user.lastLogin ? locals.moment(locals.user.lastLogin).format('DD MMM YYYY, HH:mm:ss') : 'Never' %></dd>
            <dt class="label">Account status:</dt>
            <dd><%= user.status.description %></dd>
            <dt class="label">Number of logins in last 12 months:</dt>
            <dd><%= user.loginsInPast12Months.successful %></dd>
        </dl>
    </div>
    <div class="col-4">
        <% if(!locals.isInvitation) { %>
            <aside>
                <h2 class="heading-medium">Actions</h2>
                <ul class="list">
                    <% if(locals.user.status.id !== 0) { %>
                    <li><a href="associate-organisation">Add organisation</a></li>
                    <% } %>
                    
                    <% if (locals.organisations.length > 0 && locals.user.status.id !== 0) { %>
                        <li><a href="select-organisation">Add services</a></li>
                    <% } %>
                    <% if(locals.user.status.id !== 0) { %>
                    <li><a href="edit-email">Change user's email address</a></li>
                    <% } %>
                    <% if(locals.user.status.id === 0) { %>
                        <li><a href="confirm-reactivation">Reactivate user</a></li>
                    <% } else { %>
                        <li><a href="confirm-deactivation">Deactivate user</a></li>
                    <% } %>
                    <% if(locals.user.status.id !== 0) { %>
                    <li><a href="edit-profile">Edit user's details</a></li>
                    <% } %>
                    <li><a href="web-service-sync">Send WS Sync</a></li>
                </ul>
            </aside>
        <% } else if (locals.isInvitation && !locals.user.deactivated) { %>
            <aside>
                <h2 class="heading-medium">Actions</h2>
                <ul class="list">
                    <li><a href="associate-organisation">Add organisation</a></li>
                    <% if (locals.organisations.length > 0) { %>
                        <li><a href="select-organisation">Add services</a></li>
                    <% } %>
                    <li><a href="edit-email">Change user's email address</a></li>
                    <li><a href="confirm-invitation-deactivation">Deactivate user</a></li>
                    <li><a href="resend-invitation"> Resend invitation email</a></li>
                </ul>
            </aside>
        <% } %>
    </div>
</div>

<nav>
    <ul class="tabs" role="tablist">

        <% if(locals.area === 'organisations') { %>
        <li class="active">Organisations</li>
        <% } else { %>
        <li><a href="organisations" role="tab">Organisations</a></li>
        <% } %>

        <% if(locals.area === 'services') { %>
        <li class="active">Services</li>
        <% } else { %>
        <li><a href="services" role="tab">Services</a></li>
        <% } %>

        <% if(!locals.isInvitation) { %>
        <% if(locals.area === 'audit') { %>
        <li class="active">Audit</li>
        <% } else { %>
        <li><a href="audit" role="tab">Audit</a></li>
        <% } %>
        <% } %>

    </ul>
</nav>