<header>
    <h1 class="heading-xlarge"><%=user.name%></h1>
    <div class="user-summary-email"><%=user.email%></div>

    <div class="user-summary-detail">
        <span class="label">Last login:</span>
        <span><%=locals.user.lastLogin ? locals.moment(locals.user.lastLogin).format('DD/MMM/YYYY HH:mm:ss') : 'Never'%></span>
    </div>
    <div class="user-summary-detail">
        <span class="label">Account status:</span>
        <span><%=user.status.description%></span>
    </div>
    <div class="user-summary-detail">
        <span class="label">Successful logins in past 12 months:</span>
        <span><%=user.loginsInPast12Months.successful%></span>
    </div>
</header>


<ul class="user-summary-tabs">
    <%if(locals.area === 'services') {%>
    <li class="tab tab-selected">Services</li>
    <%} else {%>
    <li class="tab"><a href="services">Services</a></li>
    <%}%>

    <%if(locals.area === 'organisations') {%>
    <li class="tab tab-selected">Organisations</li>
    <%} else {%>
    <li class="tab"><a href="organisations">Organisations</a></li>
    <%}%>

    <%if(locals.area === 'changehistory') {%>
    <li class="tab tab-selected">Change History</li>
    <%} else {%>
    <li class="tab"><a href="changehistory">Change History</a></li>
    <%}%>

    <%if(locals.area === 'audit') {%>
    <li class="tab tab-selected">Audit</li>
    <%} else {%>
    <li class="tab"><a href="audit">Audit</a></li>
    <%}%>
</ul>


<style>
    .user-summary-email {
        margin-top: -25px;
        margin-bottom: 30px;
    }

    .user-summary-detail {
        font-size: 16px;
        color: #6F777B;
    }
    .user-summary-detail > .label {
        font-weight: bold;
    }

    ul.user-summary-tabs {
        list-style: none;
        margin-top: 30px;
    }
    ul.user-summary-tabs > li.tab {
        display: inline-block;
        border-bottom: #6F777B solid 1px;
        margin: 0;
        padding: 10px 30px;
    }
    ul.user-summary-tabs > li.tab-selected {
        border: #6F777B solid 1px;
        border-bottom: none;
    }
</style>