<div class="govuk-width-container">
    <% if (locals.flash.info) { %>
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Approved</h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-body"><%= locals.flash.info %></p>
        </div>
    </div>
    <% } %>
    <% if (locals.flash.rejected) { %>
    <div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Rejected</h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-body"><%= locals.flash.rejected %></p>
        </div>
    </div>
    <% } %>

    <%
    const paginationModel = {
        method: 'post',
        csrfToken,
        currentPage: locals.page,
        numberOfPages: locals.numberOfPages,
        totalNumberOfResults: locals.totalNumberOfResults,
        numberOfResultsOnPage: locals.requests.length,
        data: [
            { key: 'criteria', value: locals.criteria },
            { key: 'sort', value: locals.sortBy },
            { key: 'sortDir', value: locals.sortOrder },
            { key: 'showFilters', value: locals.showFilters },
            { key: 'status', value: locals.requestStatuses.reduce((result, element) => {
                    if(element.isSelected) {
                        result.push(element.id);
                    }
                    return result;
                }, [])},
            { key: 'requestType', value: locals.requestTypes.reduce((result, element) => {
                    if(element.isSelected) {
                        result.push(element.id);
                    }
                    return result;
                }, [])},
            { key: 'searchEmail', value: locals.searchEmail || '' },
        ]
    }
    %>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Requests
            </h1>
            <form class="govuk-form-group" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="showFilters" value="<%= showFilters %>"/>
                <% for (let i = 0; i < requestStatuses.length; i++) { %>
                    <% if (requestStatuses[i].isSelected) { %>
                    <input type="hidden" name="status" value="<%= requestStatuses[i].id %>"/>
                    <% } %>
                <% } %>
                <% for (let i = 0; i < requestTypes.length; i++) { %>
                    <% if (requestTypes[i].isSelected) { %>
                    <input type="hidden" name="requestType" value="<%= requestTypes[i].id %>"/>
                    <% } %>
                <% } %>
                <div class="govuk-form-group">
                    <label for="searchEmail" class="vh">Search by email address</label>
                    <input class="govuk-input govuk-!-width-two-thirds" type="text" id="searchEmail" name="searchEmail"
                           value="<%= searchEmail || '' %>" placeholder="Search by email address">
                    <button type="submit" class="govuk-button">Search</button>
                </div>
            </form>
            <form method="post" class="show-filters">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="page" value="<%= page %>"/>
                <input type="hidden" name="showFilters" value="<%= !showFilters %>"/>
                <% for (let i = 0; i < requestStatuses.length; i++) { %>
                    <% if (requestStatuses[i].isSelected) { %>
                    <input type="hidden" name="status" value="<%= requestStatuses[i].id %>"/>
                    <% } %>
                <% } %>
                <% for (let i = 0; i < requestTypes.length; i++) { %>
                    <% if (requestTypes[i].isSelected) { %>
                    <input type="hidden" name="requestType" value="<%= requestTypes[i].id %>"/>
                    <% } %>
                <% } %>
                <input type="hidden" name="searchEmail" value="<%= searchEmail || '' %>"/>
                <button type="submit" class="govuk-button govuk-button--secondary filter-link"><%= (showFilters ? 'Hide' : 'Show') %> filters</button>
            </form>
        </div>
    </div>

    <div class="govuk-grid-row">
        <% if (showFilters) { %>
            <div class="govuk-grid-column-one-third">
                <form method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                    <input type="hidden" name="page" value="1"/>
                    <input type="hidden" name="showFilters" value="true"/>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                Request status
                            </legend>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <% for (let i = 0; i < requestStatuses.length; i += 1) { %>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input"
                                            id="requestStatus-<%= requestStatuses[i].id %>"
                                            name="status"
                                            type="checkbox"
                                            value="<%= requestStatuses[i].id %>"
                                            <%= (requestStatuses[i].isSelected ? 'checked' : '') %>>
                                        <label class="govuk-label govuk-checkboxes__label" for="requestStatus-<%= requestStatuses[i].id %>">
                                            <%= requestStatuses[i].name %>
                                        </label>
                                    </div>
                                <% } %>
                            </div>
                        </fieldset>
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                Type
                            </legend>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <% for (let i = 0; i < requestTypes.length; i += 1) { %>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input"
                                            id="requestType-<%= requestTypes[i].id %>"
                                            name="requestType"
                                            type="checkbox"
                                            value="<%= requestTypes[i].id %>"
                                            <%= (requestTypes[i].isSelected ? 'checked' : '') %>>
                                        <label class="govuk-label govuk-checkboxes__label" for="requestType-<%= requestTypes[i].id %>">
                                            <%= requestTypes[i].name %>
                                        </label>
                                    </div>
                                <% } %>
                            </div>
                        </fieldset>
                    </div>

                    <input type="hidden" name="searchEmail" value="<%= searchEmail || '' %>"/>
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Apply filter</button>

                </form>
            </div>
        <% } %>
        <div class="govuk-grid-column-<%= (showFilters ? "two-thirds" : "full") %>">
            <%- include('../../sharedViews/paginationNew', paginationModel); %>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Requested</th>
                    <th scope="col" class="govuk-table__header">Requested organisation</th>
                    <th scope="col" class="govuk-table__header">Requested by</th>
                    <th scope="col" class="govuk-table__header">Requester email</th>
                    <th scope="col" class="govuk-table__header">Type</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
                </thead>

                <tbody class="govuk-table__body">
                    <% if (locals.requests && locals.requests.length === 0) { %>
                        <tr class="govuk-table__row govuk-body">
                            <td class="govuk-!-padding-top-3" colspan="7"><span class="empty-state">There are no outstanding requests.</span></td>
                        </tr>
                    <% } else { %>
                    <% for (let i = 0; i < locals.requests.length; i++) { %>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s"><time datetime="<%= locals.requests[i].created_date %>"><%= locals.requests[i].formattedCreatedDate %></time></td>
                            <td class="govuk-table__cell govuk-body-s"><span class="govuk-!-text-break-word"><%= locals.requests[i].org_name %></span> </td>
                            <td class="govuk-table__cell govuk-body-s"><span class="govuk-!-text-break-word"><%= locals.requests[i].usersName %></span> </td>
                            <td class="govuk-table__cell govuk-body-s"><span class="govuk-!-text-break-word"><%= locals.requests[i].usersEmail %></span> </td>
                            <td class="govuk-table__cell govuk-body-s"><span class="govuk-!-text-break-word"><%= locals.requests[i].request_type ? locals.requests[i].request_type.name : '' %></span> </td>
                            <td class="govuk-table__cell govuk-body-s"><span class="govuk-!-text-break-word"><%= locals.requests[i].statusText.name %></span> </td>
                            <% const reviewPath = locals.requests[i].request_type && locals.requests[i].request_type.id !== 'organisation'
                                ? `access-requests/${locals.requests[i].id}/service-request/review`
                                : `access-requests/${locals.requests[i].id}/review`; %>
                            <td class="govuk-table__cell govuk-body-s"><span class="govuk-!-text-break-word"><a class="govuk-link" href="<%= reviewPath %>">Review request</a></span> </td>
                        </tr>
                        <% } %>
                    <% } %>
                </tbody>

            </table>
            <%- include('../../sharedViews/paginationNew', paginationModel); %>
        </div>
    </div>
</div>
