<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Reason for rejection
        </h1>
        <form method="post" id="form-deactivate" class="prevent-form-double-submission">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <fieldset>
                <legend><p>Please give the reason why you have rejected this request. This will be recorded for audit purposes and shared with the requester.</p></legend>
                <div class="form-group <%= (locals.validationMessages.reason !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="reason">Reason for rejection (optional) </label>
                    <% if (locals.validationMessages.reason !== undefined) { %>
                        <p class="error-message" id="validation-reason"><%= locals.validationMessages.reason %></p>
                    <% } %>
                    <textarea class="form-control full-width" rows="6" id="reason" name="reason"
                    <% if (locals.validationMessages.reason !== undefined) { %>
                              aria-invalid="true" aria-describedby="validation-reason"
                            <% } %>
                              value="<%= locals.reason %>"></textarea>
                </div>
            </fieldset>
            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Confirm</button>
                <a href="<%= locals.cancelLink %>" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
