<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= locals.title || (locals.app ? locals.app.title : null) || 'DfE Sign-in Support Console' %></title>

    <link rel="stylesheet" href="<%= locals.urls.assets %>/css/govuk/fonts.css?version=<%= locals.assets.version %>">
    <link rel="stylesheet" href="<%= locals.urls.assets %>/css/govuk/govuk-template.css?version=<%= locals.assets.version %>">
    <link rel="stylesheet" href="<%= locals.urls.assets %>/css/screen.css?version=<%= locals.assets.version %>">

    <link rel="shortcut icon" href="<%= locals.urls.assets %>/images/favicon.ico" type="image/x-icon"/>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= locals.urls.assets %>/images/apple-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= locals.urls.assets %>/images/apple-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= locals.urls.assets %>/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" href="<%= locals.urls.assets %>/images/apple-icon.png">

    <meta property="og:image" content="<%= locals.urls.assets %>/images/opengraph-image.png">

</head>
<body class="support">

<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink">Skip to content</a>
    </div>
</div>

<div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
</div>

<div class="wrapper">

    <%if(app.environmentBannerMessage) {%>
    <div class="environment-banner">
        <div><%=app.environmentBannerMessage%></div>
    </div>
    <%}%>

    <header id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="identity"><b>DfE Sign-in</b> Support Console</div>
        </div>
    </header>

    <div class="main-nav">
        <nav>
            <ul>
                <li><a href="<%= locals.urls.profile %>" class="<%= locals.area === 'profile' ? 'current' : '' %> "
                       target="_blank">My Profile</a></li>
                <li><a href="/userDevices" class="<%= locals.area === 'tokens' ? 'current' : '' %> ">Tokens</a></li>
                <li><a href="/users" class="<%= locals.area === 'users' ? 'current' : '' %> ">Users</a></li>
                <li><a href="/organisations" class="<%= locals.area === 'organisations' ? 'current' : '' %> ">Organisations</a></li>
                <% if (locals.hideSignOut === undefined) { %>
                <li class="pull-right"><a href="/signout">Sign out</a></li>
                <% } %>
            </ul>
        </nav>
    </div>

    <main id="content" tabindex="-1">

        <% if (locals.backLink !== undefined) { %>
            <% if (locals.backLink === true) { %>
                <div class="js-back-link"></div>
            <% } else { %>
                <a href="<%-locals.backLink%>" class="link-back">Back</a>
            <% } %>
        <% } %>

        <% if (locals.validationMessages !== undefined) { %>

        <% const validationKeys = Object.keys(locals.validationMessages) %>

        <% if (validationKeys.length > 0) { %>

        <div class="error-summary" role="alert" aria-labelledby="error-summary" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary">
                There are errors to fix
            </h2>
            <ul class="error-summary-list">
                <% for (const prop in locals.validationMessages) { %>
                <li><a href="#<%= prop %>"><%= locals.validationMessages[prop] %></a></li>
                <% } %>
            </ul>
        </div>

        <% } %>
        <% } %>
        <%- body %>
    </main>

</div>

<footer id="footer">
    <div class="footer-wrapper">
        <nav>
            <ul>
                <li></li>
            </ul>
        </nav>
    </div>
</footer>

<script src="<%= locals.urls.assets %>/javascript/vendors/jquery.min.js?version=<%= locals.assets.version %>"></script>
<script src="<%= locals.urls.assets %>/javascript/vendors/select2.min.js?version=<%= locals.assets.version %>"></script>
<script type="text/javascript" src="<%= locals.urls.assets %>/javascript/vendors/vendors.min.js?version=<%= locals.assets.version %>"></script>
<!-- Google Analytics -->
<script>
    window.gaTrackingId = '<%=locals.gaTrackingId || 'UA-114739594-1'%>';

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', window.gaTrackingId, {
        'storage': 'none',
        'clientId' : '<%=locals.gaClientId%>'
    });
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
<script src="<%= locals.urls.assets %>/javascript/app-2.0.min.js?version=<%= locals.assets.version %>"></script>

</body>
</html>
