<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= locals.title || (locals.app ? locals.app.title : null) || 'DfE Sign-in Support Console' %></title>

    <link rel="stylesheet" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/css/govuk/fonts.css">
    <link rel="stylesheet"
          href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/css/govuk/govuk-template.css">
    <link rel="stylesheet" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/css/screen.css">

    <link rel="shortcut icon" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/favicon.ico"
          type="image/x-icon"/>

    <link rel="apple-touch-icon" sizes="180x180"
          href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/apple-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167"
          href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/apple-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/apple-icon.png">

    <meta property="og:image"
          content="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/opengraph-image.png">

</head>
<body class="support">

<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink">Skip to content</a>
    </div>
</div>

<div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about
            cookies</a></p>
</div>

<div class="wrapper">

    <header id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="identity"><b>DfE Sign-in</b> Support Console</div>
        </div>
    </header>

    <div class="main-nav">
        <nav>
            <ul>
                <li><a href="<%= locals.urls.profile %>" class="<%= locals.area === 'profile' ? 'current' : '' %> "
                       target="_blank">My Profile</a></li>
                <li><a href="/userDevices" class="<%= locals.area === 'tokens' ? 'current' : '' %> ">Tokens</a></li>
                <li><a href="/users" class="<%= locals.area === 'users' ? 'current' : '' %> ">Users</a></li>
                <% if (locals.hideSignOut === undefined) { %>
                <li class="pull-right"><a href="/signout">Sign out</a></li>
                <% } %>
            </ul>
        </nav>
    </div>


    <main id="content" tabindex="-1">
        <% if (locals.validationMessages !== undefined) { %>

        <% const validationKeys = Object.keys(locals.validationMessages) %>

        <% if (validationKeys.length > 0) { %>

        <div class="error-summary" role="alert" aria-labelledby="error-summary" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary">
                There are errors to fix
            </h2>
            <ul class="error-summary-list">
                <% for (const prop in locals.validationMessages) { %>
                <li><a href="#<%= prop %>"><%= locals.validationMessages[prop] %></a></li>
                <% } %>
            </ul>
        </div>

        <% } %>
        <% } %>
        <%- body %>
    </main>

</div>

<footer id="footer">
    <div class="footer-wrapper">
        <nav>
            <ul>
                <li></li>
            </ul>
        </nav>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/javascript/vendors/select2.min.js"></script>
<script src="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/javascript/app.min.js"></script>


</body>
</html>