<form method="post">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    <input type="hidden" name="page" value="<%=page%>" />
    <% for (let i = 0; i < data.length; i++) {%>
    <input type="hidden" name="<%=data[i].key%>" value="<%=data[i].value%>" />
    <% } %>
    <button class="button-link" type="submit"><%=page%></button>
</form>
